<!--Dashboard HTML Starts-->
<div class="dashboard-gutter">
    <div class="container-fluid px-lg-0" data-layout="container-fluid">



        <div class="dashboard-content">
            <div [hidden]="!userCreditsCheck" class="notEnoughCredits">
                <span>You have {{userCredits}} credits in your account. Please buy credits to create your
                    project.</span>
                <a routerLink="/user/buy-credits">Buy Credits</a>
            </div>
            <nav class="navbar-top scrolling-on">
                <a href="#" class="mobile-dashboard-logo"><img src="assets/image/wh-mobile-logo.png"></a>
                <p class="mobile-dashboard-heading">Dashboard</p>
                <button class="navbar-toggler overflow-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="true"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </nav>

            <div class="Dashboard-inner-contents">
                <div class="row ipad-margin-gutter">
                    <div class="col-md-12">
                        <div class="Dashboard-inner-contents-outer">
                            <div class="row">
                                <div class="col-lg-12 col-xl-12 mx-auto mb-4 mb-lg-0">
                                    <!--Project HTML starts-->
                                    <div class="row">

                                        <div class="col-md-12">
                                            <h4 class="create-project-top-heading">Create New
                                                Project</h4>
                                            <div class="counting-stepbar-wizard">
                                                <div class="row">
                                                    <div class="col-3 col-md-2">
                                                        <div class="ful_circle step_first">
                                                            <div class="overlay-wizard-count">1
                                                            </div>
                                                            <div class="quarter-circle-bottom-right wizard-goals">
                                                            </div>
                                                            <div class="quarter-circle-bottom-left wizard-goals">
                                                            </div>
                                                            <div class="quarter-circle-top-left wizard-goals">
                                                            </div>
                                                            <div class="quarter-circle-top-right wizard-goals">
                                                            </div>
                                                            <p class="wizard-specs-info">Project
                                                                Specs</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-3 col-md-2">
                                                        <div class="ful_circle">
                                                            <div class="overlay-wizard-count">2
                                                            </div>
                                                            <div class="quarter-circle-bottom-right wizard-goals">
                                                            </div>
                                                            <div class="quarter-circle-bottom-left wizard-goals">
                                                            </div>
                                                            <div class="quarter-circle-top-left wizard-goals">
                                                            </div>
                                                            <div class="quarter-circle-top-right wizard-goals">
                                                            </div>
                                                            <p class="wizard-specs-info">Project
                                                                Details</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-3 col-md-2">
                                                        <div class="ful_circle">
                                                            <div class="overlay-wizard-count">3
                                                            </div>
                                                            <div class="quarter-circle-bottom-right wizard-goals">
                                                            </div>
                                                            <div class="quarter-circle-bottom-left wizard-goals">
                                                            </div>
                                                            <div class="quarter-circle-top-left wizard-goals">
                                                            </div>
                                                            <div class="quarter-circle-top-right wizard-goals">
                                                            </div>
                                                            <p class="wizard-specs-info">Writters
                                                                Details</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-3 col-md-2">
                                                        <div class="ful_circle_last_step">
                                                            <div class="overlay-wizard-count">4
                                                            </div>
                                                            <div class="quarter-circle-bottom-right wizard-goals">
                                                            </div>
                                                            <div class="quarter-circle-bottom-left wizard-goals">
                                                            </div>
                                                            <div class="quarter-circle-top-left wizard-goals">
                                                            </div>
                                                            <div class="quarter-circle-top-right wizard-goals">
                                                            </div>
                                                            <p class="wizard-specs-info">Review
                                                                Project</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <aw-wizard #wizard>
                                            <aw-wizard-step [canExit]="moveDirection.bind(this, projectSpecsForm.valid)"
                                                stepTitle="Project Specs">
                                                <form [formGroup]="projectSpecsForm">
                                                    <div class="col-lg-8 step-progress-fields">
                                                        <label>Project Name <span class="red">*</span></label>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                                                            elit. Praesent diam lorem, fermentum in tempus sed,
                                                            aliquet sed enim</p>
                                                        <input type="text" class="col-lg-4" #project_name
                                                            formControlName="project_name" placeholder=""
                                                            class="field-design"
                                                            [ngClass]="{ 'is-invalid': (projectSpecsForm.controls.project_name.touched || projectSpecsSubmitted) && projectSpecsForm.controls.project_name.errors }">
                                                        <p
                                                            *ngIf="projectSpecsForm.controls.project_name.touched || projectSpecsSubmitted">
                                                            <app-form-validation-errors minLength=2 maxLength=50
                                                                errorPrefix="Project Name "
                                                                [errors]="projectSpecsForm.controls.project_name.errors">
                                                            </app-form-validation-errors>
                                                        </p>
                                                    </div>
                                                    <div class="col-lg-8 step-progress-fields">
                                                        <label>Project Topic <span class="red">*</span></label>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                                                            elit. Praesent diam lorem, fermentum in tempus sed,
                                                            aliquet sed enim</p>
                                                        <div class="col-lg-4 px-0">
                                                            <select #project_topic class="custom-select"
                                                                id="inlineFormCustomSelectPref"
                                                                formControlName="project_topic" placeholder=""
                                                                class="field-design"
                                                                [ngClass]="{ 'is-invalid': (projectSpecsForm.controls.project_topic.touched || projectSpecsSubmitted) && projectSpecsForm.controls.project_topic.errors }">
                                                                <option value="">Choose topic</option>
                                                                <option
                                                                    *ngFor="let projectCategory of productCategoriesArray"
                                                                    value="{{projectCategory}}">{{projectCategory}}
                                                                </option>
                                                            </select>
                                                            <p
                                                                *ngIf="projectSpecsForm.controls.project_topic.touched || projectSpecsSubmitted">
                                                                <app-form-validation-errors errorPrefix="Project Topic "
                                                                    [errors]="projectSpecsForm.controls.project_topic.errors">
                                                                </app-form-validation-errors>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8 step-progress-fields">
                                                        <label>Project Type <span class="red">*</span></label>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                                                            elit. Praesent diam lorem, fermentum in tempus sed,
                                                            aliquet sed enim</p>
                                                        <div class="col-lg-4 px-0">
                                                            <select #project_type class="custom-select"
                                                                id="inlineFormCustomSelectPref"
                                                                formControlName="project_type" placeholder=""
                                                                class="field-design"
                                                                [ngClass]="{ 'is-invalid': (projectSpecsForm.controls.project_type.touched || projectSpecsSubmitted) && projectSpecsForm.controls.project_type.errors }">
                                                                <option value="">Choose Project Type</option>
                                                                <option *ngFor="let projectType of projectTypeArray"
                                                                    value="{{projectType}}">{{projectType}}</option>
                                                            </select>
                                                            <p
                                                                *ngIf="projectSpecsForm.controls.project_type.touched || projectSpecsSubmitted">
                                                                <app-form-validation-errors errorPrefix="Project Type "
                                                                    [errors]="projectSpecsForm.controls.project_type.errors">
                                                                </app-form-validation-errors>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 mt-4">

                                                        <button
                                                            [disabled]="projectSpecsForm.invalid || userCreditsCheck"
                                                            (click)="validateProjectSpecsWizard()" type="button"
                                                            awNextStep class="submit-btn-feedback min-w-130">
                                                            NEXT
                                                        </button>
                                                        <!--a href="#" class="advance-text">( or go advance )</a-->
                                                    </div>
                                                </form>
                                            </aw-wizard-step>
                                            <aw-wizard-step
                                                [canExit]="moveDirection.bind(this, projectDetailsForm.valid)"
                                                stepTitle="Project Details">
                                                <form [formGroup]="projectDetailsForm">
                                                    <div class="row m-0">
                                                        <div class="col-lg-5">
                                                            <div class="row">
                                                                <div class="col-lg-12 step-progress-fields">
                                                                    <label>Quantity <span class="red">*</span></label>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur
                                                                        adipiscing elit. Praesent diam lorem,
                                                                        fermentum in tempus sed, aliquet sed enim
                                                                    </p>
                                                                    <input type="number"
                                                                        (change)="calculateProjectCost(quantity.value, word_count.value)"
                                                                        #quantity class="col-lg-4"
                                                                        formControlName="quantity" placeholder=""
                                                                        class="field-design"
                                                                        [ngClass]="{ 'is-invalid': (projectDetailsForm.controls.quantity.touched || projectDetailsSubmitted) && projectDetailsForm.controls.quantity.errors }">
                                                                    <p
                                                                        *ngIf="projectDetailsForm.controls.quantity.touched || projectDetailsSubmitted">
                                                                        <app-form-validation-errors [isInteger]=true
                                                                            minIntegerValue="1" errorPrefix="Quantity "
                                                                            [errors]="projectDetailsForm.controls.quantity.errors">
                                                                        </app-form-validation-errors>
                                                                    </p>
                                                                </div>
                                                                <div class="col-lg-12 step-progress-fields">
                                                                    <label>Project Details <span
                                                                            class="red">*</span></label>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur
                                                                        adipiscing elit. Praesent diam lorem,
                                                                        fermentum in tempus sed, aliquet sed enim
                                                                    </p>


                                                                    <textarea #project_details cols="5" rows="3"
                                                                        minLength=10 maxLength=200
                                                                        formControlName="project_details" placeholder=""
                                                                        class="field-design"
                                                                        [ngClass]="{ 'is-invalid': (projectDetailsForm.controls.project_details.touched || projectDetailsSubmitted) && projectDetailsForm.controls.project_details.errors }"></textarea>
                                                                    <p
                                                                        *ngIf="projectDetailsForm.controls.project_details.touched || projectDetailsSubmitted">
                                                                        <app-form-validation-errors minLength=10
                                                                            maxLength=200 errorPrefix="Project Details "
                                                                            [errors]="projectDetailsForm.controls.project_details.errors">
                                                                        </app-form-validation-errors>
                                                                    </p>
                                                                </div>


                                                            </div>
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <div class="row">

                                                                <div class="col-lg-12 step-progress-fields">
                                                                    <label>Word for each space <span
                                                                            class="red">*</span></label>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur
                                                                        adipiscing elit. Praesent diam lorem,
                                                                        fermentum in tempus sed, aliquet sed enim
                                                                    </p>
                                                                    <input type="number"
                                                                        (change)="calculateProjectCost(quantity.value, word_count.value)"
                                                                        #word_count class="col-lg-4"
                                                                        formControlName="word_count" placeholder=""
                                                                        class="field-design"
                                                                        [ngClass]="{ 'is-invalid': (projectDetailsForm.controls.word_count.touched || projectDetailsSubmitted) && projectDetailsForm.controls.word_count.errors }">
                                                                    <p
                                                                        *ngIf="projectDetailsForm.controls.word_count.touched || projectDetailsSubmitted">
                                                                        <app-form-validation-errors [isInteger]=true
                                                                            minIntegerValue="1"
                                                                            errorPrefix="Word for each space "
                                                                            [errors]="projectDetailsForm.controls.word_count.errors">
                                                                        </app-form-validation-errors>
                                                                    </p>
                                                                </div>

                                                                <div class="col-lg-12 step-progress-fields">
                                                                    <label>Additional Resources</label>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur
                                                                        adipiscing elit. Praesent diam lorem,
                                                                        fermentum in tempus sed, aliquet sed enim
                                                                    </p>
                                                                    <textarea #additional_resources cols="5" rows="3"
                                                                        minLength=10 maxLength=200
                                                                        formControlName="additional_resources"
                                                                        placeholder="" class="field-design"
                                                                        [ngClass]="{ 'is-invalid': (projectDetailsForm.controls.additional_resources.touched || projectDetailsSubmitted) && projectDetailsForm.controls.additional_resources.errors }"></textarea>
                                                                    <p
                                                                        *ngIf="projectDetailsForm.controls.additional_resources.touched || projectDetailsSubmitted">
                                                                        <app-form-validation-errors minLength=10
                                                                            maxLength=200 errorPrefix="Project Details "
                                                                            [errors]="projectDetailsForm.controls.additional_resources.errors">
                                                                        </app-form-validation-errors>
                                                                    </p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 mt-3">
                                                            <div class="row step-progress-fields">
                                                                <label class="col-md-12 mb-3">Choose your package <span
                                                                        class="red">*</span></label>

                                                                <div *ngFor="let projectPackage of getProjectPackageArray"
                                                                    class="col-lg-4 mb-4">
                                                                    <div
                                                                        class="project-package-plans package-design basic-package">
                                                                        <h6 class="project-package-plans-title">
                                                                            {{projectPackage.project_type_name}}</h6>
                                                                        <p class="project-package-plans-amount">
                                                                            ${{projectPackage.price * 100}}
                                                                        </p>
                                                                        <p class="project-package-plans-limit">Per
                                                                            $100 words</p>
                                                                        <ul>
                                                                            <li>Lorem ipsum dolor sit amet,
                                                                                consectetur </li>
                                                                            <li>Nunc quis elit non est dictum
                                                                                elementum</li>
                                                                            <li>Praesent ullamcorper velit vel eros
                                                                                posuere</li>
                                                                        </ul>
                                                                        <input
                                                                            (change)="getProjectPackagePrice($event, quantity.value, word_count.value)"
                                                                            type="radio"
                                                                            [attr.data-packagePrice]="projectPackage.price"
                                                                            [checked]="projectPackage.id == selectedProjectPackageId"
                                                                            #project_package
                                                                            formControlName="project_package"
                                                                            value="{{projectPackage.id}}"
                                                                            id="{{projectPackage.id}}" />
                                                                        <label for="{{projectPackage.id}}"
                                                                            class="submit-btn-feedback clr--size">Select
                                                                            plan</label>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="col-lg-12 px-0 step-progress-fields">
                                                                <label>Attach File?</label>
                                                                <div class="uploadcode">
                                                                    <div class="uploadImages position-relative">
                                                                        <div class="dropzone dropzone-container"
                                                                            [dropzone]="projectImageConfiguration"
                                                                            [disabled]="disabled"></div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!--Upload Images Section-->
                                                            <div class="col-md-12 px-0">
                                                                <div class="thumbnails"
                                                                    *ngIf="checkObjectLength(projectFilesArray.value) > 0">
                                                                    <div class="thumbnail_list"
                                                                        *ngFor="let projectImage of projectFilesArray.value | keyvalue; let projectImage = index;">

                                                                        <img *ngIf="projectImage.value.file_mimetype != 'application/pdf'"
                                                                            src="{{projectImage.value.file_path}}">

                                                                        <a class="upload_pdf" data-toggle="tooltip"
                                                                            title="{{projectImage.value.file_name}}"
                                                                            *ngIf="projectImage.value.file_mimetype == 'application/pdf'"
                                                                            href="{{projectImage.value.file_path}}"
                                                                            target="_blank"><img
                                                                                src="assets/images/pdf_icon.png"></a>

                                                                        <i (click)="removeImage(projectImage.key, 'project',projectImage.value.file_key)"
                                                                            class="fa fa-times" aria-hidden="true"></i>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!--Upload Images Section-->

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="col-lg-12 mt-4 text-right">
                                                                <div class="package-total-cost">
                                                                    <h4>Total Cost : <span>${{calculateCost}}</span>
                                                                    </h4>
                                                                    <p>Estimated arround: 1-2 weeks</p>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-12 mt-4 text-right">
                                                                <button type="button" awPreviousStep
                                                                    class="submit-btn-feedback min-w-130 mr-lg-3">
                                                                    PREVIOUS
                                                                </button>
                                                                <button
                                                                    [disabled]="projectDetailsForm.invalid || userCreditsCheck"
                                                                    (click)="validateProjectDetailsWizard()"
                                                                    type="button" awNextStep
                                                                    class="submit-btn-feedback min-w-130">
                                                                    NEXT
                                                                </button>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </form>
                                            </aw-wizard-step>
                                            <aw-wizard-step stepTitle="Writers Details">
                                                <form [formGroup]="writersDetailsForm">
                                                    <div class="col-lg-8">
                                                        <div class="row">
                                                            <div class="col-lg-12 step-progress-fields">
                                                                <label>Choice of writters</label>
                                                                <p>Lorem ipsum dolor sit amet, consectetur
                                                                    adipiscing elit. Praesent diam lorem,
                                                                    fermentum in tempus sed, aliquet sed enim
                                                                </p>
                                                                <div class="col-lg-4 pl-0">

                                                                    <select #choice_of_writers class="custom-select"
                                                                        id="inlineFormCustomSelectPref"
                                                                        formControlName="choice_of_writers"
                                                                        placeholder="" class="field-design">
                                                                        <option value="">Choose Writer</option>
                                                                        <option
                                                                            *ngFor="let choiceOfWriter of choiceOfWriterArray"
                                                                            value="{{choiceOfWriter}}">
                                                                            {{choiceOfWriter}}
                                                                        </option>
                                                                    </select>

                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 step-progress-fields">
                                                                <label>Career</label>
                                                                <p>Lorem ipsum dolor sit amet, consectetur
                                                                    adipiscing elit. Praesent diam lorem,
                                                                    fermentum in tempus sed, aliquet sed enim
                                                                </p>
                                                                <div class="col-lg-4 pl-0">
                                                                    <select #writers_career class="custom-select"
                                                                        id="inlineFormCustomSelectPref"
                                                                        formControlName="writers_career" placeholder=""
                                                                        class="field-design">
                                                                        <option value="">Choose Career</option>
                                                                        <option
                                                                            *ngFor="let writterCareer of writterCareerArray"
                                                                            value="{{writterCareer}}">
                                                                            {{writterCareer}}
                                                                        </option>
                                                                    </select>

                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 step-progress-fields">
                                                                <label>Age Bracket</label>
                                                                <p>Lorem ipsum dolor sit amet, consectetur
                                                                    adipiscing elit. Praesent diam lorem,
                                                                    fermentum in tempus sed, aliquet sed enim
                                                                </p>

                                                                <div class="warpper">

                                                                    <div *ngFor="let writerAge of writterAgeArray; let i=index"
                                                                        class="tabs">
                                                                        <input formControlName="writers_age"
                                                                            class="radio" id="{{i}}" type="radio"
                                                                            value="{{writerAge}}">
                                                                        <label class="tab"
                                                                            for="{{i}}">{{writerAge}}</label>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="col-lg-12 step-progress-fields">
                                                                <label>Location</label>
                                                                <p>Lorem ipsum dolor sit amet, consectetur
                                                                    adipiscing elit. Praesent diam lorem,
                                                                    fermentum in tempus sed, aliquet sed enim
                                                                </p>
                                                                <div class="col-lg-4 pl-0">
                                                                    <select #writers_location class="custom-select"
                                                                        id="inlineFormCustomSelectPref"
                                                                        formControlName="writers_location"
                                                                        placeholder="" class="field-design">
                                                                        <option value="">Choose Location</option>
                                                                        <option
                                                                            *ngFor="let writterLocation of writterLocationArray; let i= index;"
                                                                            value="{{writterLocation.abbreviation}}">
                                                                            {{writterLocation.name}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 mt-4">
                                                                <button type="button" awPreviousStep
                                                                    class="submit-btn-feedback min-w-130 mr-lg-3">
                                                                    PREVIOUS
                                                                </button>
                                                                <button (click)="validateProjectDetailsWizard()"
                                                                    type="button" awNextStep
                                                                    class="submit-btn-feedback min-w-130">
                                                                    NEXT
                                                                </button>
                                                                <!--a href="#" class="advance-text">( or skip )</a-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </aw-wizard-step>
                                            <aw-wizard-step stepTitle="Review Project">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-8 step-progress-fields mb-4">
                                                            <p>Lorem ipsum dolor sit amet, consectetur
                                                                adipiscing elit. Praesent diam lorem,
                                                                fermentum in tempus sed, aliquet sed enim
                                                            </p>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div>
                                                                <label class="step-progress-fields-label">Project
                                                                    Name :</label>
                                                                <p class="step-progress-fields-content">
                                                                    {{project_name?.value}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div>
                                                                <label class="step-progress-fields-label">Project
                                                                    Topic :</label>
                                                                <p class="step-progress-fields-content">
                                                                    {{project_topic?.value}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label class="step-progress-fields-label">Project
                                                                Type :</label>
                                                            <p class="step-progress-fields-content">
                                                                {{project_type?.value}}</p>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="step-4-summary-all">
                                                                <div class="step-4-summary-all-sections">
                                                                    <label>Quantity : </label>
                                                                    <p>{{quantity?.value}}</p>
                                                                </div>
                                                                <div class="step-4-summary-all-sections">
                                                                    <label>Words for each piece : </label>
                                                                    <p>{{word_count?.value}}</p>
                                                                </div>
                                                                <div class="step-4-summary-all-sections">
                                                                    <label>Package : </label>
                                                                    <p class="color-primary-wr">Premium</p>
                                                                </div>
                                                                <div class="step-4-summary-all-sections">
                                                                    <label>Estimated turnarround :</label>
                                                                    <p class="color-primary-wr">1 - 2 weeks
                                                                    </p>
                                                                </div>
                                                                <div class="step-4-summary-all-sections-result">
                                                                    <p class="color-primary-wr">Total Cost
                                                                    </p>
                                                                    <span
                                                                        class="color-primary-wr">${{calculateCost}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div>
                                                                <label class="step-progress-fields-label">Project
                                                                    Details :</label>
                                                                <p class="step-progress-fields-content">
                                                                    {{project_details?.value}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div>
                                                                <label class="step-progress-fields-label">Additional
                                                                    Resources :</label>
                                                                <p class="step-progress-fields-content">
                                                                    {{additional_resources?.value}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label class="step-progress-fields-label">Choice
                                                                Of Writers :</label>
                                                            <p class="step-progress-fields-content">
                                                                {{choice_of_writers?.value}}</p>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label class="step-progress-fields-label">Career
                                                                :</label>
                                                            <p class="step-progress-fields-content">
                                                                {{writers_career?.value}}</p>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label class="step-progress-fields-label">Age
                                                                Bracket :</label>
                                                            <p class="step-progress-fields-content">
                                                                {{writers_location?.value}}</p>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label class="step-progress-fields-label">Location
                                                                :</label>
                                                            <p class="step-progress-fields-content">
                                                                {{writers_location?.value}}</p>
                                                        </div>
                                                        <!--Upload Images Section-->
                                                        <div class="col-md-12">
                                                            <div class="thumbnails"
                                                                *ngIf="checkObjectLength(projectFilesArray.value) > 0">
                                                                <div class="thumbnail_list"
                                                                    *ngFor="let projectImage of projectFilesArray.value | keyvalue; let projectImage = index;">

                                                                    <img *ngIf="projectImage.value.file_mimetype != 'application/pdf'"
                                                                        src="{{projectImage.value.file_path}}">

                                                                    <a class="upload_pdf" data-toggle="tooltip"
                                                                        title="{{projectImage.value.file_name}}"
                                                                        *ngIf="projectImage.value.file_mimetype == 'application/pdf'"
                                                                        href="{{projectImage.value.file_path}}"
                                                                        target="_blank"><img
                                                                            src="assets/images/pdf_icon.png"></a>

                                                                    <i (click)="removeImage(projectImage.key, 'project',projectImage.value.file_key)"
                                                                        class="fa fa-times" aria-hidden="true"></i>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!--Upload Images Section-->
                                                        <div class="col-lg-10 mt-4 step4-submit-fields">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <button type="button" awPreviousStep
                                                                        class="submit-btn-feedback min-w-130 mr-lg-3">
                                                                        PREVIOUS
                                                                    </button>

                                                                    <button type="button" [disabled]="userCreditsCheck"
                                                                        (click)="onSubmitAddNewProject()"
                                                                        class="submit-btn-feedback min-w-130">
                                                                        CREATE PROJECT
                                                                    </button>

                                                                </div>
                                                                <!--div class="col-lg-3">
                                                                    <input type="submit" value="SAVE AS DRAFT"
                                                                        class="submit-btn-feedback min-w-130 editing-btn">
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <input type="submit" value="CANCEL PROJECT"
                                                                        class="submit-btn-feedback min-w-130 editing-btn">
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <input type="submit" value="EDIT PROJECT"
                                                                        class="submit-btn-feedback min-w-130 editing-btn">
                                                                </div-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </aw-wizard-step>
                                        </aw-wizard>
                                    </div>
                                    <!--Project HTML ends-->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--Dashboard HTML Ends-->
</div>