<div class="dashboard-gutter">
    <div class="container-fluid px-lg-0" data-layout="container-fluid">

        <div class="dashboard-content">
            <nav class="navbar-top scrolling-on">
                <a href="#" class="mobile-dashboard-logo"><img src="assets/image/writehero-fav.png"></a>
                <p class="mobile-dashboard-heading">Dashboard</p>
                <button class="navbar-toggler overflow-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="true"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </nav>
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
            <div class="Dashboard-inner-contents">
                <div class="row ipad-margin-gutter">
                    <div class="col-md-12">
                        <div class="Dashboard-inner-contents-outer">
                            <div class="row">
                                <div class="col-lg-12 col-xl-12 mx-auto mb-4 mb-lg-0">

                                    <div class="dashboard-welcome-note">
                                        <p>PROJECTS</p>
                                        <span class="projectlistingtitle--text">
                                            Here is the projects section where you will see all your eBook orders.
                                            To create a new project, click this big juicy red button. From here on out
                                            the wizard will guide you in ordering your very first eBook project.
                                        </span>
                                    </div>
                                    <div class="support-all-grid">
                                        <div class="row">
                                            <div (click)="navigateToCreateNewProject()" class="col-lg-4">
                                                <div class="create-project-button-tab">
                                                    <i class="fa fa-plus"></i>
                                                    <p class="pro-btn-tab">Create new project</p>
                                                </div>
                                            </div>
                                            <ng-container *ngIf="projects.length > 0; else elseProjectsBlock">
                                                <div class="col-lg-4" *ngFor="let project of projects | paginate: { id: 'foo',
                                            itemsPerPage: pageSize,
                                            currentPage: currentPage,
                                            totalItems: totalProjects };let i = index;">
                                                    <div (click)="viewDetails(project.id)"
                                                        class="support-desc-tabs whole-pattern project-lists-padding">
                                                        <p class="project-code-title">{{project.code}}</p>
                                                        <p class="project-code-heading">{{project.project_name}}</p>
                                                        <p class="project-code-date-title">
                                                            {{project.project_cdate | date}}
                                                        </p>
                                                        <p class="project-per-words"><span>{{project.quantity}} X
                                                                {{project.word_count}}</span><span
                                                                class="words-text">Words</span></p>
                                                        <p class="project-code-bugs">${{project.project_cost}}</p>
                                                        <p class="pro-date"><span>Status : </span> <span
                                                                class="pro-msg-status pro-active">{{project.project_status}}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <ng-template #elseProjectsBlock>
                                                <div class="col-lg-4">
                                                    <div
                                                        class="no--ticket-text support-desc-tabs min--height-box align-items-center justify-content-center">
                                                        <!-- <i class="fa fa-plus"></i> -->
                                                        <p>No Project Found</p>
                                                    </div>
                                                </div>
                                            </ng-template>

                                        </div>
                                        <div *ngIf="totalProjects > 0" class="row">
                                            <div class="col-md-12 writer-pagination mt-3">
                                                <pagination-controls id="foo" (pageChange)="pageChanged($event)"
                                                    (pageBoundsCorrection)="pageChanged($event)" maxSize="9"
                                                    directionLinks="true" responsive="true" previousLabel="Previous"
                                                    nextLabel="Next" screenReaderPaginationLabel="Pagination"
                                                    screenReaderPageLabel="page">
                                                </pagination-controls>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="d-flex align-items-end  justify-content-end h-100">
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn-ticket"
                                                        (click)="navigateToCreateNewProject()">Create New
                                                        Project</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>

    <!--Dashboard HTML Ends-->
</div>