<!--register html starts-->
<div class="writehero-bg-primary-code">
    <div class="register-content-outer ovf--hide">
        <div class="container-custom">
            <div class="row">
                <div class="col-lg-6">
                    <div class="register-bg">
                        <h1 class="register-main-title">
                            
                            <span>Why you’ll love </span>
                            <span class="child-primary">Bookwy</span>
                        </h1>
                        <!-- <p class="register-subtitle">Create a profile to personalize how you’ll appear to collaborators.
                        </p> -->
                        <div class="image-behind-register">
                            <img src="assets/image/register.png" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 mt-3 mt-lg-0 offset-lg-1 xs-minus top-none">
                    <div class="register-form-outer">
                        <h4 class="register-heading-bold">Let’s start...</h4>
                        <form [formGroup]="signUpForm">
                            <div class="form-row-outer row">
                                <div class="col-lg-6 pb-3">
                                    <label>First Name</label>
                                    <input type="text" formControlName="first_name" placeholder="" class="field-design"
                                        [ngClass]="{ 'is-invalid': (signUpForm.controls.first_name.touched || signUpSubmitted) && signUpForm.controls.first_name.errors }">
                                    <p *ngIf="signUpForm.controls.first_name.touched || signUpSubmitted">
                                        <app-form-validation-errors patternError="Must contain only characters."
                                            minLength=2 maxLength=20 errorPrefix="First Name "
                                            [errors]="signUpForm.controls.first_name.errors">
                                        </app-form-validation-errors>
                                    </p>
                                </div>
                                <div class="col-lg-6 pb-3">
                                    <label>Last Name</label>
                                    <input type="text" formControlName="last_name" placeholder="" class="field-design"
                                        [ngClass]="{ 'is-invalid': (signUpForm.controls.last_name.touched || signUpSubmitted) && signUpForm.controls.last_name.errors }">
                                    <p *ngIf="signUpForm.controls.last_name.touched || signUpSubmitted">
                                        <app-form-validation-errors patternError="Must contain only characters."
                                            minLength=2 maxLength=20 errorPrefix="Last Name "
                                            [errors]="signUpForm.controls.last_name.errors">
                                        </app-form-validation-errors>
                                    </p>
                                </div>
                                <div class="col-lg-12 pb-3">
                                    <label>Email address</label>
                                    <input type="text" formControlName="email" placeholder="" class="field-design"
                                        [ngClass]="{ 'is-invalid': (signUpForm.controls.email.touched || signUpSubmitted) && signUpForm.controls.email.errors }">
                                    <p *ngIf="signUpForm.controls.email.touched || signUpSubmitted">
                                        <app-form-validation-errors errorPrefix="Email "
                                            [errors]="signUpForm.controls.email.errors"></app-form-validation-errors>
                                    </p>
                                </div>
                                <div class="col-lg-12 pb-3">
                                    <label>Company</label>
                                    <input type="text" formControlName="company_name" placeholder="" class="field-design">                                    
                                </div>
                                <div class="col-lg-12 pb-3">
                                    <label>ENTER PASSWORD</label>
                                    <input type="password" formControlName="password" placeholder=""
                                        class="field-design"
                                        [ngClass]="{ 'is-invalid': (signUpForm.controls.password.touched || signUpSubmitted) && signUpForm.controls.password.errors }">
                                    <p *ngIf="signUpForm.controls.password.touched || signUpSubmitted">
                                        <app-form-validation-errors minLength=8 maxLength=50 errorPrefix="Password "
                                            [errors]="signUpForm.controls.password.errors"></app-form-validation-errors>
                                    </p>
                                </div>
                                <div class="col-lg-12 pb-3">
                                    <label>CONFIRM PASSWORD</label>
                                    <input type="password" formControlName="confirm_password" placeholder=""
                                        class="field-design"
                                        [ngClass]="{ 'is-invalid': (signUpForm.controls.confirm_password.touched || signUpSubmitted) && signUpForm.controls.confirm_password.errors }">
                                    <p *ngIf="signUpForm.controls.confirm_password.touched || signUpSubmitted">
                                        <app-form-validation-errors minLength=8 maxLength=50
                                            errorPrefix="Confirm password "
                                            [errors]="signUpForm.controls.confirm_password.errors">
                                        </app-form-validation-errors>
                                    </p>
                                </div>
                                <div class="col-lg-12 pb-3">
                                    <recaptcha formControlName="myRecaptcha"></recaptcha>
                                </div>
                                <div class="col-lg-12 pb-3">
                                    <input type="checkbox" formControlName="accept_terms" class="form-check-input ml-0"
                                        [ngClass]="{ 'is-invalid': (signUpForm.controls.accept_terms.touched || signUpSubmitted) && signUpForm.controls.accept_terms.errors }" />
                                    <label class="ml-4">I agree to Bookwy’s Terms and Conditions</label>
                                    <p *ngIf="signUpForm.controls.accept_terms.touched || signUpSubmitted">
                                        <app-form-validation-errors errorPrefix="Accept Ts & Cs "
                                            [errors]="signUpForm.controls.accept_terms.errors">
                                        </app-form-validation-errors>
                                    </p>
                                </div>
                                <div class="col-md-12 my-3">
                                    <input type="submit" (click)="validateSignUpForm()" [disabled]="signUpForm.invalid"
                                        value="Register">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--register html ends-->