<!--Dashboard HTML Starts-->
<div class="dashboard-gutter">
    <div class="container-fluid px-lg-0" data-layout="container-fluid">


        <div class="dashboard-content">

            <app-inner-header></app-inner-header>

            
            <div class="col-lg-5">
                <div class="dashboard-welcome-note">
                    <p class="mb-2">Change Password</p>
                </div>
                <div class="profileinfo-box">
                    <form class="row" [formGroup]="changePasswordForm">
                        <div class="col-md-12 mt-3">
                            <label for="">New password</label>
                            <input type="password" formControlName="password" placeholder=""
                            class="field-design"
                            [ngClass]="{ 'is-invalid': (changePasswordForm.controls.password.touched || isSubmitted) && changePasswordForm.controls.password.errors }">
                        <p *ngIf="changePasswordForm.controls.password.touched || isSubmitted">
                            <app-form-validation-errors minLength=8 maxLength=50 errorPrefix="Password "
                                [errors]="changePasswordForm.controls.password.errors"></app-form-validation-errors>
                        </p>
                        </div>
                        <div class="col-md-12 mt-3">
                            <label for="">Confirm password</label>
                            <div class="profileinfo-group">
                                <input type="password" formControlName="confirm_password" placeholder=""
                                class="field-design"
                                [ngClass]="{ 'is-invalid': (changePasswordForm.controls.confirm_password.touched || isSubmitted) && changePasswordForm.controls.confirm_password.errors }">
                            <p *ngIf="changePasswordForm.controls.confirm_password.touched || isSubmitted">
                                <app-form-validation-errors minLength=8 maxLength=50
                                    errorPrefix="Confirm password "
                                    [errors]="changePasswordForm.controls.confirm_password.errors">
                                </app-form-validation-errors>
                            </p>
                            </div>
                        </div>
                        <div class="col-md-4 mt-4">
                            <button class="chngpsw--button" type="button" (click)="validatechangePasswordForm()" [disabled]="changePasswordForm.invalid"
                                    >
                                    Submit
                                    </button>
                        </div>
                    </form>
                </div>
            </div>



            </div>
            </div>
            </div>