<nav class="navbar-top scrolling-on">
    <a href="#" class="mobile-dashboard-logo"><img src="assets/image/writehero-fav.png"></a>
    <p class="mobile-dashboard-heading">Dashboard</p>
    <button class="navbar-toggler  overflow-toggler" (click)="addClass()" type="button" data-toggle="collapse"
        data-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="true"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>
