<!-- if User Not Logged In -->
<section [hidden]="isLoggedin" class="writehero-banner" id="banner">
    <header *ngIf="isHomeUrl; else elseHomeUrlBlock;">
        <div class="container-fluid px-lg-0">
            <nav class="navbar navbar-expand-lg" id=customnavbar>
                <div class="container-custom">
                    <a class="navbar-brand" routerLink="/"><img src="assets/image/logo.png"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item" routerLinkActive="active" (click)="setScroll('services')">
                                <a class="nav-link" href="javascript:void(0)" >How it works <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item" routerLinkActive="active" (click)="setScroll('pricing')">
                                <a href="javascript:void(0)" class="nav-link">Pricing</a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="/user/signup">Register</a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="/user/login">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container-custom hader_content-outer">
                    <img src="assets/image/star.png" alt="" class="pricingstar">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="header_content-heading">
                            <h1 data-aos="fade-up" data-aos-delay="400">
                                Handcrafted <span>eBooks</span> that build trust and credibility.
                            </h1>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="video-outer" data-aos="fade-left" data-aos-delay="600">
                            <div class="writehero_video-card">
                                <a href="javascript:void(0)" (click)="openYoutubePopup()"><img src="assets/image/homepage_thumb.png" class="img-fluid"
                                    alt="silverback-video-posters"></a>
                                <!-- <iframe width="560" height="415" src="https://www.youtube.com/embed/AHerdCk8Vg0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-auto animated jello display-table mx-auto text-center mt-5">
                        <a routerLink="/user/signup" class="btn-done">Hire an eBook Writer</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <ng-template #elseHomeUrlBlock>
        <nav class="navbar navbar-expand-lg" id=customnavbar>
            <div class="container-custom">
                <a class="navbar-brand" routerLink="/"><img src="assets/image/logo.png"></a>
                <button class="navbar-toggler overflow-togglerhome" (click)="toggleClass()" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" (click)="setScrolltoDiv('services')"  href="javascript:void(0)">How it works <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item" (click)="setScrolltoDiv('pricing')">
                            <a class="nav-link" href="javascript:void(0)">Pricing</a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" (click)="showRemove()" routerLink="/user/signup">Register</a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" (click)="showRemove()" routerLink="/user/login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </ng-template>

</section>
<!-- if User Not Logged In -->

<!-- if User Logged In -->
<section [hidden]="!isLoggedin" class="dashboard-topbar scrolling-on">
    <div class="row">
        <div class="col-md-5">
            <a class="dashboard-logo" routerLink="/">
                <img src="assets/image/logo.png">
            </a>
        </div>
        <div class="col-md-7 mx-auto">
            <h2>Dashboard</h2>
        </div>
    </div>
</section>

<!-- Modal Popup of Invoice Details -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button (click)="stopYoutubeVideo()" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="container">
                    <iframe width="736" height="422" src="https://www.youtube.com/embed/OsX1Zu5skqE?start=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    
                </div>
            </div>
            

        </div>
    </div>
</div>
<!-- if User Logged In -->