<!--Dashboard HTML Starts-->
<div class="dashboard-gutter">
    <div class="container-fluid px-lg-0" data-layout="container-fluid">



        <div class="dashboard-content">

            <nav class="navbar-top scrolling-on">
                <a routerLink="/" class="mobile-dashboard-logo"><img src="assets/image/writehero-fav.png"></a>
                <p class="mobile-dashboard-heading">Dashboard</p>
                <button class="navbar-toggler overflow-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="true"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </nav>
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

            <div class="Dashboard-inner-contents">
                <div class="row ipad-margin-gutter">
                    <div class="col-md-12">
                        <div class="Dashboard-inner-contents-outer">
                            <div class="row">
                                <div class="col-lg-12 col-xl-12 mx-auto mb-4 mb-lg-0">
                                    <div class="tab-content" id="nav-tabContent">


                                        <!--Dashboard HTML starts-->



                                        <div class="row">
                                            <div class="col-lg-9">
                                                <img class="blob--logo" src="assets/image/dashboard--blobicon.png" alt="blob--logo">
                                                <div class="dashboard-welcome-note">
                                                    <p>Welcome Back, <span>{{showName}}</span></p>
                                                </div>
                                                <!-- Latest Project -->
                                                <ng-container
                                                    *ngIf="(checkObjectLength(latestProject) > 0); else elseNoLatestProject;">
                                                    <div *ngFor="let latest of latestProject; let i = index;"
                                                        class="dashboard-latest-project-outer mb-xs-20">
                                                        <div class="row">
                                                            <div class="col-lg-9 px-lg-3 p-0">
            
                                                                <div class="my-dashboard-project-main">
                                                                    <h2 class="dashboard-latest-project-title">
                                                                        Latest Project</h2>
                                                                    <h6 class="dashboard-latest-project-subject mb-3">
                                                                        {{latest?.project_name}}
                                                                        [{{latest?.code}}]</h6>
                                                                    <div class="row">
                                                                        <div class="col-lg-7">
                                                                            <div
                                                                                class="dashboard-project-estimation-outer">
                                                                                <div
                                                                                    class="dashborad-project-estimation">
                                                                                    <span
                                                                                        class="dashboard-latest-project-subject">Quantity</span>
                                                                                    <span
                                                                                        class="dashboard-latest-project-result">{{latest?.quantity}}
                                                                                        x {{latest?.word_count}}
                                                                                        Words</span>
                                                                                </div>
                                                                                <div
                                                                                    class="dashborad-project-estimation">
                                                                                    <span
                                                                                        class="dashboard-latest-project-subject">Type</span>
                                                                                    <span
                                                                                        class="dashboard-latest-project-result">{{latest?.project_type}}</span>
                                                                                </div>
                                                                                <div
                                                                                    class="dashborad-project-estimation">
                                                                                    <span
                                                                                        class="dashboard-latest-project-subject">Topic</span>
                                                                                    <span
                                                                                        class="dashboard-latest-project-result">{{latest?.project_topic}}</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-5">
                                                                            <div
                                                                                class="dashborad-project-estimation xs">
                                                                                <span
                                                                                    class="total-costtitle col-lg-12">Cost</span>
                                                                                <span
                                                                                    class="dashboard-latest-project-result font-weight-bold">${{latest?.project_cost}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="dashborad-project-estimation pt-2 mb-3 mb-lg-0">
                                                                        <span
                                                                            class="dashboard-latest-project-subject">Details</span>
                                                                        <span
                                                                            class="dashboard-latest-project-result col-12 col-lg-9 pt-2 pt-lg-0 line--clamp wb-all">{{latest?.project_dtl}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3 p-0 pr-lg-0">
                                                                <div class="dashboard-project-status-outer">
                                                                    <h6 class="project-status-heading">
                                                                        Status:</h6>
                                                                    <ul *ngIf="latest.projectStatus; else elseProjectStatusBlock"
                                                                        class="list-unstyled">
                                                                        <li *ngFor="let status of latest.projectStatus;let i = index;"
                                                                            [ngClass]="status.status_class" class="circle-status">
                                                                            <span>{{status?.project_status}}</span>
                                                                            <span>{{status.status_date | date:'shortDate'}}</span>
                                                                        </li>

                                                                    </ul>
                                                                    <ng-template #elseProjectStatusBlock>
                                                                        <ul class="list-unstyled">
                                                                            <li
                                                                                class="new-project-detail circle-status">
                                                                                <span>{{latest?.project_status}}</span>
                                                                                <span>{{latest.project_cdate | date}}</span>
                                                                            </li>
                                                                        </ul>
                                                                    </ng-template>
                                                                    <div class="pgrss">
                                                                        <p class="pgrss-title">Progress</p>
                                                                        <p class="pgrss-subtitle">
                                                                            {{(latest?.progress)?(latest?.progress):'NA'}}</p>
                                                                    </div>
                                                                    <div class="est-date">
                                                                        <p><span>EDD : </span> <span
                                                                                class="etd-date">{{(latest.estimated_date_delivery != '0000-00-00')?(latest.estimated_date_delivery | date) : 'NA'}}</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-container>

                                                <ng-template #elseNoLatestProject>
                                                    <div class="dashboard-latest-project-outer mb-xs-20">
                                                        <p class="noproject-foundtext">No Latest Project Found</p>
                                                    </div>
                                                </ng-template>
                                                <!-- Project Count Block -->

                                                <div class="dashboard-projects-counting-outer">


                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="gradient-primary">
                                                                <p class="dashboard-project-number counter">
                                                                    {{(projectCount?.np) ? (projectCount?.np) : 0}}</p>
                                                                <p class="dashboard-project-counter-name">
                                                                    New Projects</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="gradient-primary">
                                                                <p class="dashboard-project-number counter">
                                                                    {{(projectCount?.ap)?(projectCount?.ap):0}}</p>
                                                                <p class="dashboard-project-counter-name">
                                                                    Active Projects</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="gradient-primary ">
                                                                <p class="dashboard-project-number counter">
                                                                    {{(projectCount?.cp)?(projectCount?.cp):0}}</p>
                                                                <p class="dashboard-project-counter-name">
                                                                    Complete Projects</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Latest Support -->

                                                <ng-container
                                                    *ngIf="(checkObjectLength(latestSupport) > 0); else elseNoLatestSupport;">
                                                    <div *ngFor="let latest of latestSupport; let i = index;"
                                                        class="dashboard-latest-project-outer">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="dashboard-latest-support">
                                                                    <h4
                                                                        class="dashboard-latest-project-title position-relative">
                                                                        Latest Support <span
                                                                            class="stat--box">{{latest?.support_status == 'unsolved' ? 'PENDING' : 'SOLVED'}}</span>
                                                                    </h4>
                                                                </div>
                                                                <div class="dashborad-project-estimation row mx-0 mt-2">
                                                                    <span
                                                                        class="dashboard-latest-project-subject col-md-2">Project</span>
                                                                    <span
                                                                        class="dashboard-latest-project-result font-weight-bold col-md-10">{{latest?.subject}}</span>
                                                                </div>
                                                                <div class="dashborad-project-estimation pt-2 row mx-0">
                                                                    <span
                                                                        class="dashboard-latest-project-subject col-md-2">Details</span>
                                                                    <span
                                                                        class="dashboard-latest-project-result col-md-10 pt-2 pt-lg-0">{{latest.messages[latest.messages.length -1]?.message | slice:0:100}}</span>
                                                                </div>
                                                                <ng-container
                                                                    *ngIf="latest.messages[latest.messages.length -1].instanciate_id == 0;">
                                                                    <div class="admin-comment-dashboard">
                                                                        <div class="admin-comment-outer">
                                                                            <div class="row flex-row-reverse">
                                                                                <div class="col-md-12 mb-3">

                                                                                    <div class="admin-pic-outer">
                                                                                        <img
                                                                                            [src]="'assets/image/dummyuser.png'">
                                                                                    </div>
                                                                                    <div class="admin-comment-list">
                                                                                        <p class="reply-text">
                                                                                            Last Reply</p>
                                                                                        <p class="admin-text">
                                                                                            James T</p>
                                                                                        <p class="cmnt-admin-text">
                                                                                            {{latest.messages[latest.messages.length -1]?.message | slice:0:100}}
                                                                                        </p>
                                                                                        <p class="cmnt-admin-date">
                                                                                                {{latest.messages[latest.messages.length -1]?.cur_date | date}}</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </ng-container>
                                                                <!-- <ng-template #elseNoLatestReply>
                                                                    <div class="admin-comment-dashboard nolatestreply">
                                                                        No Last Reply
                                                                    </div>
                                                                </ng-template> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                                <ng-template #elseNoLatestSupport>
                                                    <div class="dashboard-latest-project-outer">
                                                        <p class="noproject-foundtext">No Ticket Found</p>
                                                    </div>
                                                </ng-template>
                                            </div>

                                            <div class="col-lg-3 pr-lg-0">
                                                <div class="right-thumb-feeds-outer">
                                                    <div class="updates-vertical-outer">
                                                        <div class="dashboard-rightside-updates">
                                                            <div class="dashboard-rightside-updates-haeder">
                                                                <p class="dashboard-rightside-updates-header-title">
                                                                    updates</p>
                                                            </div>
                                                            <div class="dashboard-rightside-updates-content-outer">
                                                                <div class="dashboard-rightside-updates-content-value">
                                                                    <p class="ct-value">Lorem ipsum
                                                                        dolor sit amet consectetur,
                                                                        adipisicing elit. Beatae aut
                                                                        dolorum nesciunt incidunt
                                                                        reiciendis</p>
                                                                </div>
                                                                <div class="dashboard-rightside-updates-content-value">
                                                                    <p class="ct-value">Lorem ipsum
                                                                        dolor sit amet consectetur,
                                                                        adipisicing elit. Beatae aut
                                                                        dolorum nesciunt incidunt
                                                                        reiciendis</p>
                                                                </div>
                                                                <div class="dashboard-rightside-updates-content-value">
                                                                    <p class="ct-value">Lorem ipsum
                                                                        dolor sit amet consectetur,
                                                                        adipisicing elit. Beatae aut
                                                                        dolorum nesciunt incidunt
                                                                        reiciendis</p>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="dashboard-rightside-updates latest-feedback">
                                                            <div class="dashboard-rightside-updates-haeder">
                                                                <p class="dashboard-rightside-updates-header-title">
                                                                    Feedbacks</p>
                                                            </div>
                                                            <!-- Feedback Block -->
                                                            <div class="dashboard-rightside-feedback-content-outer">
                                                                <div *ngFor="let feedback of latestFeedbacks; let i = index;"
                                                                    class="latest-feedback-value">
                                                                    <div class="">
                                                                        <div class="user-feedback-user-photo">
                                                                            <img
                                                                            [src]="(feedback?.profile_pic) ? (feedback?.profile_pic)  : defaultPath">
                                                                        </div>
                                                                    </div>

                                                                    <div class="">
                                                                        <div class="user-feedback-user-desc">
                                                                            <p class="feedback-text-title line--clamp">
                                                                                {{feedback?.feed_desc}}</p>
                                                                            <div *ngIf="feedback?.overall_rate"
                                                                                class="feedback-star">
                                                                                <rating [readonly]="true"
                                                                                    [(ngModel)]="feedback.overall_rate">
                                                                                </rating>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>



                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        </div>



                                        <!--Dashboard HTML ends-->


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Dashboard HTML Ends-->