<!--Dashboard HTML Starts-->
<div class="dashboard-gutter">
    <div class="container-fluid px-lg-0" data-layout="container-fluid">

        <app-left-sidebar></app-left-sidebar>

        <div class="dashboard-content">

            <nav class="navbar-top scrolling-on">
                <a href="#" class="mobile-dashboard-logo"><img src="assets/image/wh-mobile-logo.png"></a>
                <p class="mobile-dashboard-heading">Dashboard</p>
                <button class="navbar-toggler overflow-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="true"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </nav>

            <div class="Dashboard-inner-contents">
                <div class="row ipad-margin-gutter">
                    <div class="col-md-12">
                        <div class="Dashboard-inner-contents-outer">
                            <div class="row">
                                <div class="col-lg-12 col-xl-12 mx-auto mb-4 mb-lg-0">
                                    <!--Project HTML starts-->
                                    <div class="row">

                                        <div class="col-md-12">
                                            <h4 class="create-project-top-heading">Ticket Details</h4>
                                            <div class="dashboard-latest-project-outer">
                                                <div class="row">
                                                    <div class="col-lg-9 px-lg-3 p-0">
                                                        <div class="my-dashboard-project-main">
                                                            <h2 class="dashboard-latest-project-title">
                                                                Subject: {{supportData?.support[0]?.subject}}</h2>



                                                            <h6 class="dashboard-latest-project-subject">
                                                                Ticket: {{supportData?.support[0]?.code}}</h6>
                                                            <h6 class="dashboard-latest-project-subject">
                                                                Submitted On:
                                                                {{supportData?.support[0]?.created_on | date:'dd/mm/yy'}}
                                                            </h6>
                                                            <div class="row">
                                                                <div class="col-lg-7">

                                                                    <div class="container">
                                                                        <div class="dispute_content">
                                                                            <p>This is Photoshop's version of Lorem
                                                                                Ipsum. Proin gravida nibh vel velit
                                                                                auctor aliquet. Aenean sollicitudin,
                                                                                lorem quis bibendum auctor, nisi elit
                                                                                consequat ipsum, nec sagittis sem nibh
                                                                                id elit.</p>
                                                                        </div>


                                                                        <div class="description_list">
                                                                            <h4>Description List</h4>
                                                                        </div>

                                                                        <div class="msg-group center">

                                                                            <div class="dispute_media">

                                                                                <div
                                                                                    class="card-body dispute_left dispute_right-content">
                                                                                    <h6 class="card-subtitle">Hurram
                                                                                        Sultana</h6>
                                                                                    <span
                                                                                        class="card-text float-left">24
                                                                                        November 2019</span>
                                                                                    <p>This is Photoshop's version of
                                                                                        Lorem Ipsum. Proin gravida nibh
                                                                                        vel velit auctor aliquet. Aenean
                                                                                        sollicitudin, lorem quis
                                                                                        bibendum auctor, nisi elit
                                                                                        consequat ipsum, nec sagittis
                                                                                        sem nibh id elit. Aenean
                                                                                        sollicitudin, lorem quis
                                                                                        bibendum auctor, </p>
                                                                                </div>
                                                                            </div>

                                                                            <div class="dispute_media flex-row-reverse">

                                                                                <div
                                                                                    class="card-body dispute_left dispute_right-contents">
                                                                                    <h6 class="card-subtitle">Michael
                                                                                        Phelps</h6>
                                                                                    <span
                                                                                        class="card-text float-right">24
                                                                                        November 2019</span>
                                                                                    <p>This is Photoshop's version of
                                                                                        Lorem Ipsum. Proin gravida nibh
                                                                                        vel velit auctor aliquet. Aenean
                                                                                        sollicitudin, lorem quis
                                                                                        bibendum auctor, nisi elit
                                                                                        consequat ipsum, nec sagittis
                                                                                        sem nibh id elit. Aenean
                                                                                        sollicitudin, lorem quis
                                                                                        bibendum auctor, nisi elit
                                                                                        consequat ipsum, nec</p>
                                                                                </div>
                                                                            </div>



                                                                            <div class="dispute_media flex-row-reverse">

                                                                                <div
                                                                                    class="card-body dispute_left dispute_right-contents">
                                                                                    <h6 class="card-subtitle">Michael
                                                                                        Phelps</h6>
                                                                                    <span
                                                                                        class="card-text float-right">24
                                                                                        November 2019</span>
                                                                                    <p>This is Photoshop's version of
                                                                                        Lorem Ipsum. Proin gravida nibh
                                                                                        vel velit auctor aliquet. Aenean
                                                                                        sollicitudin, lorem quis
                                                                                        bibendum auctor, nisi elit
                                                                                        consequat ipsum, nec sagittis
                                                                                        sem nibh id elit. Aenean
                                                                                        sollicitudin, lorem quis
                                                                                        bibendum auctor, nisi elit
                                                                                        consequat ipsum, nec</p>
                                                                                </div>
                                                                            </div>


                                                                            <div class="dispute_media">

                                                                                <div
                                                                                    class="card-body dispute_left dispute_right-content">
                                                                                    <h6 class="card-subtitle">Hurram
                                                                                        Sultana</h6>
                                                                                    <span
                                                                                        class="card-text float-left">24
                                                                                        November 2019</span>
                                                                                    <p>This is Photoshop's version of
                                                                                        Lorem Ipsum. Proin gravida nibh
                                                                                        vel velit auctor aliquet. Aenean
                                                                                        sollicitudin, lorem quis
                                                                                        bibendum auctor, nisi elit
                                                                                        consequat ipsum, nec sagittis
                                                                                        sem nibh id elit. Aenean
                                                                                        sollicitudin, lorem quis
                                                                                        bibendum auctor, </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="description_list">
                                                                            <h4>Description</h4>
                                                                        </div>

                                                                        <form action="/action_page.php"
                                                                            class="dispute_form">
                                                                            <textarea placeholder="Message"
                                                                                name="message" rows="10"
                                                                                cols="20"></textarea>
                                                                            <br>
                                                                            <button type="button"
                                                                                class="btn btn-danger">SEND
                                                                                MESSAGE</button>
                                                                        </form>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="dashborad-project-estimation pt-2">
                                                                <span
                                                                    class="dashboard-latest-project-subject">Details</span>
                                                                <span
                                                                    class="dashboard-latest-project-result col-12 col-lg-9 pt-2 pt-lg-0">Lorem
                                                                    ipsum dolor sit amet,
                                                                    consectetur adipiscing elit, sed
                                                                    do eiusmod tempor incididunt ut
                                                                    labore et dolore magna aliqua.
                                                                    Quis ipsum suspendisse ultrices
                                                                    gravida. Risus commodo
                                                                    viverra</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--Project HTML ends-->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--Dashboard HTML Ends-->
</div>