input[type="submit"]:disabled {opacity: 0.5;}
.register-content-outer {padding-bottom: 60px;}
app-form-validation-errors {font-size: 0.8em;color: #f00;font-weight: 500;}
button.submit-btn-feedback:disabled {opacity: 0.5;}
span.red{color: #f00}
aw-wizard-navigation-bar.horizontal.small {display: none;}
.uploadImages .dz-preview{display:none;}
.uploadProfileImage .dz-preview{display:none;}
.notEnoughCredits {
    background-color: #ff4444;
    padding: 8px 16px;
    border-radius: 3px;
    color: #fff;
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.19);
    font-weight: 600;
    text-transform: capitalize;
    font-size: 15px;
    margin: 12px 0px 15px;
    display: inline-block;
}
.notEnoughCredits a {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 9px;
    font-size: 12px;
    text-decoration: none;    
    background-color: #ea4949;
    padding: 6px 10px;
}

/*Ticket css starts*/
.ticket--span-date {
    color: #01004a !important;
    font-weight: 700 !important;
    margin: 5px 0px 10px !important;
    font-size: 15px !important;
}
.ticket--span-p {
    font-size: 14px !important;
}
.ticket--download {
    color: #fff !important;
    display: inline-block;
    padding: 8px 10px;
    text-transform: uppercase;
    background: rgba(254,80,50,1);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,80,50,1)), color-stop(100%, rgba(224,39,113,1)));
    background: -webkit-gradient(linear, left top, right top, from(rgba(254,80,50,1)), to(rgba(224,39,113,1)));
    background: linear-gradient(to right, rgba(254,80,50,1) 0%, rgba(224,39,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe5032', endColorstr='#e02771', GradientType=1 );
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
}
.send--rply-btn {
    text-align: right;
    padding: 15px 0px;
}
.send--rply-btn a {
    margin-right: 15px;
    background-color: #01004a;
    color: #fff !important;
    font-weight: 600;
    font-size: 14px;
    border-radius: 0px;
    text-transform: capitalize;
    border: none !important;
    padding: 8px 16px;
}
.solving--btn-outer a {
    color: #fff !important;
    display: inline-block;
    padding: 8px 10px;
    text-transform: uppercase;
    background: rgba(254,80,50,1);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,80,50,1)), color-stop(100%, rgba(224,39,113,1)));
    background: -webkit-gradient(linear, left top, right top, from(rgba(254,80,50,1)), to(rgba(224,39,113,1)));
    background: linear-gradient(to right, rgba(254,80,50,1) 0%, rgba(224,39,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe5032', endColorstr='#e02771', GradientType=1 );
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 3px;
}
.solving--btn-outer {
    margin-top: 25px;
}
.sr__only tr td:nth-child(3) {
    width: 40%;
}
.sr--0 rating.ng-untouched.ng-pristine.ng-valid {
    margin-left:0px;
}
.font-15 {
    font-size: 15px;
}
.font-13 {
    font-size: 13px;
}
.font-13 p {
    font-size: 13px;
    font-weight: 400;
}
.ht--130 {
    height: 130px;
}
.uploadcode {
    background: rgba(254,80,50,1);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,80,50,1)), color-stop(100%, rgba(224,39,113,1)));
    background: -webkit-gradient(linear, left top, right top, from(rgba(254,80,50,1)), to(rgba(224,39,113,1)));
    background: linear-gradient(to right, rgba(254,80,50,1) 0%, rgba(224,39,113,1) 100%);
    background-color: rgba(0, 0, 0, 0);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe5032', endColorstr='#e02771', GradientType=1 );
    position: relative;
    color: #fff;
    border: 0px;
    padding: 12px 20px;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    width: 150px !important;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}
.attach--label {
    font-size: 16px;
    font-weight: 700;
    color: #01004a;
    margin-bottom: 10px;
}
.uploadcode .red {
    color: #fff !important;
}
.thumbnails {
    padding: 10px 0px;
}
.thumbnail_list {
    display: inline-block;
    background: rgba(10, 0, 74,0.25);
    padding: 10px;
    border-radius: 10px;
    position: relative;
}
.thumbnail_list a {
    display: inline-block;
}
.thumbnail_list i.fa.fa-times {
    position: absolute;
    top: -6px;
    right: -5px;
    background: #c9c2dc;
    padding: 3px;
    border-radius: 50%;
    color: #cc4a4b;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
    cursor: pointer;
}
.thumbnail_list:hover i.fa.fa-times {
    opacity: 1;
    visibility: visible;
}

.ps__thumb-y {
    background: linear-gradient(45deg, rgba(254,80,50,1) 0%, rgba(224,39,113,1) 100%);
}
.ps .ps__rail-x.ps--clicking, .ps .ps__rail-x:focus, .ps .ps__rail-x:hover, .ps .ps__rail-y.ps--clicking, .ps .ps__rail-y:focus, .ps .ps__rail-y:hover, .ps__rail-y.ps--clicking .ps__thumb-y, .ps__rail-y:focus>.ps__thumb-y, .ps__rail-y:hover>.ps__thumb-y, .ps__thumb-y {
    background-color: transparent !important;
}
.ps--focus>.ps__rail-x, .ps--focus>.ps__rail-y, .ps--scrolling-x>.ps__rail-x, .ps--scrolling-y>.ps__rail-y, .ps:hover>.ps__rail-x, .ps:hover>.ps__rail-y {
    opacity: 1 !important;
}
perfect-scrollbar>.ps.ps--scrolling-x>.ps__rail-x, perfect-scrollbar>.ps.ps--scrolling-y>.ps__rail-y {
    opacity: 1 !important;
    background-color: transparent !important;
}

/*buy credit starts*/
.buycredit-outer {
    width: 90%;
}
.buycredit-topbar {
    display: block;
    padding: 5px 0px;
}
.separator--bottom {
    background-color: #e8e8e8;
    height: 7px;
    border-top: 1px solid #d6d6d6;
    border-radius: 3px;
    margin-top: 10px;
}
.buycredit-topbar p {
    line-height: normal;
    margin-bottom: 0px;
    color: #3b3a39;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
}
.buycredit-topbar p span {
    display: inline-block;
    width: 105px;
    margin-left: 10px;
}
.buycredit-topbar p span img {
    width: 100%;
}
.buycredit-body {
    position: relative;
    border: 2px solid #dcdcdc;
    border-radius: 5px;
    width: 60%;
    margin: 30px 0px;
    padding: 20px;
    box-shadow: 0px 0px 10px 1px rgba(138, 185, 255, 0.25);
}
.buycredit-body--content p {
    margin-bottom: 5px;
    line-height: normal;
    color: #36393c;
    font-weight: 700;
    font-size: 17px;
}
.buycredit-body--content span {
    font-weight: 700;
    color: #003087;
    font-size: 15px;
    line-height: normal;
    display: block;
}
.backstep--btn {
    background: rgba(254,80,50,1);
    background: -moz-linear-gradient(left, rgba(254,80,50,1) 0%, rgba(224,39,113,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,80,50,1)), color-stop(100%, rgba(224,39,113,1)));
    background: -webkit-linear-gradient(left, rgba(254,80,50,1) 0%, rgba(224,39,113,1) 100%);
    background: -o-linear-gradient(left, rgba(254,80,50,1) 0%, rgba(224,39,113,1) 100%);
    background: -ms-linear-gradient(left, rgba(254,80,50,1) 0%, rgba(224,39,113,1) 100%);
    background: linear-gradient(to right, rgba(254,80,50,1) 0%, rgba(224,39,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe5032', endColorstr='#e02771', GradientType=1 );
    color: #fff;
    line-height: normal;
    border: 0px;
    line-height: normal;
    border: 0px;
    padding: 8px 24px;
    font-size: 15px;
    font-weight: 600;
}
#paypalCustom .paypal-button-number-0{
    display: none !important;
}
/*buy credit ends*/

/*BEM for life*/
.max-750 {
    max-width: 750px;
}
.bill--logoeach {
    width: 80px;
}
.bill--logoeach img {
    max-width: 100%;
}
.lorem-tooltip--outer.lor-right::before {
    left: auto;
    right: 0;
    transform: rotate(270deg);
}
.lorem-tooltip--outer.lor-right {
    left: auto;
    right: 10px;
    top: 35px;
}
.bg-142 {
    background: #1429b3 !important;
}
.dashboard-rightside-updates.latest-feedback .feedback-star {
    font-size: 8px;
}
.dashboard-rightside-updates.latest-feedback .feedback-star rating.ng-untouched.ng-pristine.ng-valid {
    margin-left: 0px;
}
.dashboard-rightside-updates.latest-feedback .feedback-star rating.ng-untouched.ng-pristine.ng-valid .star-icon:before, .dashboard-rightside-updates.latest-feedback .feedback-star rating.ng-untouched.ng-pristine.ng-valid  .star-icon {
    color: #ee3a54;
}

.lorem-tooltip--outer {
    padding: 9px 15px;
    position: absolute;
    width: 380px;
    background-color: #fff;
    top: 40px;
    cursor: pointer;
    z-index: 200;
    font-size: 13px;
    display: none;
    border-radius: 15px;
    line-height: 22px;
    color: #03094c;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    left: 15px;
}
.about_logo_course_tooltip {
    display: inline-block;
    position: relative;
    cursor: pointer;
    float: right;
}
.about_logo_course_tooltip:hover .lorem-tooltip--outer {
    display: block;
}
.lorem-tooltip--outer::before {
    content: url(../image/tooltip-before.png);
    position: absolute;
    top: -16px;
    left: 10px;
}
.writer-pagination ul li a:focus {
    outline: none !important;
}
.projectlistingtitle--text {
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #868686;
}
rating > span span + span {
    margin-left: 4px;
}    
.chngpsw--button:disabled {
    opacity: .5;
}
.chngpsw--button {
    background: rgba(254,80,50,1);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,80,50,1)), color-stop(100%, rgba(224,39,113,1)));
    background: -webkit-gradient(linear, left top, right top, from(rgba(254,80,50,1)), to(rgba(224,39,113,1)));
    background: linear-gradient(to right, rgba(254,80,50,1) 0%, rgba(224,39,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe5032', endColorstr='#e02771', GradientType=1 );
    position: relative;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    padding: 8px 0px;
    border: none;
    width: 100%;
}
.btn-ticket:hover {
    text-decoration: none;
    color:#fff;
}
.container-custom .navbar-brand img {
    max-width: 100%;
}
.container-custom .navbar-brand {
    width: 130px;
}
.profile-circlebox .dz-default.dz-message {
    position: absolute;
    right: 2px;
    bottom: 0px;
    font-size: 25px;
    color: #1f0b50;
    background: #fff;
    line-height: 0;
    cursor: pointer;
    border-radius: 50%;
}
.gj-datepicker .input-group-append button.btn {
    border: 0px;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4ca02d), to(#4ca02d)), -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), to(#eaeaec));
    background-image: linear-gradient(#4ca02d, #4ca02d), linear-gradient(#d0d0d0, #eaeaec);
    background-position: center bottom, center calc(100% - 1px);
    background-repeat: no-repeat;
    background-size: 0 3px, 100% 1px;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    font-weight: 500;
    -webkit-transition: background 0s ease-out 0s;
    transition: background 0s ease-out 0s;
    padding: 0px 0px 7px 0px;
    color: #6d6d6d;
    font-size: 15px;
    width: 100%;
}
.project-package-plans > input[type="radio"] {
    display: none;
}
.project-package-plans > .clr--size {
    font-size: 15px !important;
    color: #fff !important;
}
.warpper .tabs {
    display: inline-block;
}
.project-package-plans > input[type="radio"]:checked + .clr--size, .tabs > input[type="radio"]:checked + label, .input--hidden input[type="radio"]:checked + label {
    background: rgba(49,58,238,1);
    background: -moz-linear-gradient(left, rgba(49,58,238,1) 0%, rgba(4,71,164,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(49,58,238,1)), color-stop(100%, rgba(4,71,164,1)));
    background: -webkit-linear-gradient(left, rgba(49,58,238,1) 0%, rgba(4,71,164,1) 100%);
    background: -o-linear-gradient(left, rgba(49,58,238,1) 0%, rgba(4,71,164,1) 100%);
    background: -ms-linear-gradient(left, rgba(49,58,238,1) 0%, rgba(4,71,164,1) 100%);
    background: linear-gradient(to right, rgba(49,58,238,1) 0%, rgba(4,71,164,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313aee', endColorstr='#0447a4', GradientType=1 );
    color: #fff !important;
}
.apply_coupon_code {
    background: rgba(49,58,238,1);
    background: -moz-linear-gradient(left, rgba(49,58,238,1) 0%, rgba(4,71,164,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(49,58,238,1)), color-stop(100%, rgba(4,71,164,1)));
    background: -webkit-linear-gradient(left, rgba(49,58,238,1) 0%, rgba(4,71,164,1) 100%);
    background: -o-linear-gradient(left, rgba(49,58,238,1) 0%, rgba(4,71,164,1) 100%);
    background: -ms-linear-gradient(left, rgba(49,58,238,1) 0%, rgba(4,71,164,1) 100%);
    background: linear-gradient(to right, rgba(49,58,238,1) 0%, rgba(4,71,164,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313aee', endColorstr='#0447a4', GradientType=1 );
    color: #fff !important;
    display: inline-block;
    padding: 8px 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    text-decoration: none;
}
.apply_coupon_code:focus, .apply_coupon_code:visited {
    outline: none !important;
    text-decoration: none;
}
.coupon_code_text {
    display: inline-block;
    background: rgba(8, 134, 0, 0.5);
    color: #fff !important;
    padding: 5px 15px;
    font-weight: 600 !important;
    border-radius: 3px;
    border: 2px solid #009830;
}
a.remove_coupon_code {
    display: inline-block;
    background: #868686;
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-left: 15px;
    border-radius: 50%;
    line-height: 30px;
}
.coupon_code_response > .green {
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
    display: block;
    position: relative;
    padding-left: 20px;
}
.coupon_code_response > .green::before {
    content: "\f00c";
    position: absolute;
    left: 0;
    top: 3px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.paypal--btn {
    width: 100%;
    color: #fff !important;
    text-align: center;
    font-size: 15px !important;
}
.input--hidden input[type="radio"] {
    display: none;
}
.text {
    padding: 5px 10px;
    font-size: 11px;
    color: #fff;
    margin-left: 5px;
    border-radius: 3px;
}
.solved.text {
    background: #009830;
}
.unsolved.text {
    background: #f00;
}
.dispute_media .card-body.dispute_left.dispute_right-contents {
    max-width: 100%;
    margin-right: 0px;
}
.dispute_media .dispute_right-contents h6, .dispute_media .card-text.float-right.ticket--span-date, .dispute_media .card-body.dispute_left.dispute_right-contents, .dispute_media .ticket--span-p {
    text-align: left !important;
}
.flex-row-reverse.dispute_media .dispute_right-contents h6, .flex-row-reverse.dispute_media .card-text.float-right.ticket--span-date, .flex-row-reverse.dispute_media .card-body.dispute_left.dispute_right-contents, .flex-row-reverse.dispute_media .ticket--span-p {
    text-align: right !important;
}
.margin--custom{
    margin-top:15px;
    display: inline-block;
}
.dispute_media .ticket--span-p {
    display: inline-block;
    width: 100%;
}
.pro-btn-tab {
    color: #fff;
    text-decoration: none;
}
.pro-btn-tab:hover, .pro-btn-tab:focus {
    text-decoration: none;
    color: #fff;
}
.ngx-pagination .current {
    background: #ee3a54 !important;
    color: #fefefe;
    cursor: pointer !important;
    border-radius: 50%;
    padding: 0 !important; 
    width: 25px;
    height: 26px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
table.sr__only {
    border: 1px solid #e0e0e0;
}
.sr__only th {
    background: #00185d;
    color: #fff;
    font-size: 15px;
    border: 1px solid #0f185c;
}
.sr__only tr td {
    font-size: 14px;
    font-weight: 500;
}
.form-row-outer .field-design {
    box-shadow: none;
}
.top-none {
    top:0 !important;
 }
.sr__only tr td:nth-child(2) {
    width: 15%;
}
#toastr-node-24 {
    z-index: 9999999999;
}
.sr__only .star-icon {
    font-size: 1.8em !important;
}
.sr__only tbody td:last-child a {
    color: #e63064;
    text-align: center;
    display: block;
}
.d--rating-grid {
    display: flex;
    align-items: center;
    line-height: normal;
}
.d--rating-grid p {
    flex: 1;
    margin-bottom: 0px;
}
.no--ticket-text {
    color: #888888;
    font-size: 24px;
    font-weight: 700;
}
.no--ticket-text i {
    font-size: 35px;
}

.profile_section label {
    margin-right: 10px;
    width:240px;
}

.profile_box {
    margin: 0 0 20px 15px;
    width: 100%;
    background: #fff;
    padding: 20px 20px;
    -webkit-box-shadow: 0px 0px 22px -5px rgba(189,189,189,1);
    -moz-box-shadow: 0px 0px 22px -5px rgba(189,189,189,1);
    box-shadow: 0px 0px 22px -5px rgba(189,189,189,1);
}

.setting_section {
    margin: 0 0 0px 0;
    width: 100%;
    background: #fff;
    padding: 20px 20px;
    -webkit-box-shadow: 0px 0px 22px -5px rgba(189,189,189,1);
    -moz-box-shadow: 0px 0px 22px -5px rgba(189,189,189,1);
    box-shadow: 0px 0px 22px -5px rgba(189,189,189,1);
}
.dashboard-latest-project-title span{font-weight: 400;font-size: 15px;}
.notify_sec{
    width: 100%;
    background: #fff;
    padding: 20px 20px;
    -webkit-box-shadow: 0px 0px 22px -5px rgba(189,189,189,1);
    -moz-box-shadow: 0px 0px 22px -5px rgba(189,189,189,1);
    box-shadow: 0px 0px 22px -5px rgba(189,189,189,1);
}


.fix_height{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.fix_margin{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 70%;
}


.container_checkbox{
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .container_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    right:-33px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border:1px solid #a9a9a9;
  }
  .container_checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .container_checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container_checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  .container_checkbox .checkmark:after {
    left: 9px;
    top: 3px;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.backdrop{
    position: fixed !important;
}



.tabs + .tabs {
    margin-left: 10px;
}
a.btn-cmn-pro:hover {
    text-decoration: none;
    color: #fff;
}
.ngx-pagination .disabled {
    font-size: 13px;
    color: #ccc;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 50%;
    display: inline-block;
    line-height: normal;
    text-transform: uppercase;
}
.ngx-pagination a:hover, .ngx-pagination button:hover {
    background: transparent !important;
}
fieldset app-form-validation-errors {
    position: absolute;
    bottom: -5px;
}
.paypal--btn:hover {
    cursor: pointer;
}
.border-2 {
    border: 1px solid #bdbdbd !important;
}
.twocheckoutgreen {
    background-color: #11c979;
    border: 1px solid #11c979;
    padding: 9px 0px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    border-radius: 2px;
    position: relative;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.twocheckoutgreen::before {
    background-color: rgba(0,0,0, 0.2);
    opacity: 0.4;
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.twocheckoutgreen:hover::before {
    width: 100%;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0
}
.nolatestreply {
    margin-top: 15px;
    display: block;
    text-align: right;
    font-weight: 600;
    font-size: 15px;
}
.stat--box {
    color: #002eaf;
    font-weight: 700 !important;
    font-size: 14px !important;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 3px;
}
.feeddetails--sepbar {
    vertical-align: middle;
    margin-top: -3px;
    display: inline-block;
    margin-right: 10px;
}
.feeddetails--name {
    display: inline-block;
}
.feedall-ratingsouter {
    margin-top: 25px;
}
.color--4a48 {
    color: #4a4848 !important;
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
        
        
.jello {
	-webkit-animation-name: jello;
	animation-name: jello;
	-webkit-transform-origin: center;
	transform-origin: center;
}
        
@-webkit-keyframes jello {
 0%,
 11.1%,
 to {
  -webkit-transform:none;
  transform:none
 }
 22.2% {
  -webkit-transform:skewX(-12.5deg) skewY(-12.5deg);
  transform:skewX(-12.5deg) skewY(-12.5deg)
 }
 33.3% {
  -webkit-transform:skewX(6.25deg) skewY(6.25deg);
  transform:skewX(6.25deg) skewY(6.25deg)
 }
 44.4% {
  -webkit-transform:skewX(-3.125deg) skewY(-3.125deg);
  transform:skewX(-3.125deg) skewY(-3.125deg)
 }
 55.5% {
  -webkit-transform:skewX(1.5625deg) skewY(1.5625deg);
  transform:skewX(1.5625deg) skewY(1.5625deg)
 }
 66.6% {
  -webkit-transform:skewX(-.78125deg) skewY(-.78125deg);
  transform:skewX(-.78125deg) skewY(-.78125deg)
 }
 77.7% {
  -webkit-transform:skewX(.390625deg) skewY(.390625deg);
  transform:skewX(.390625deg) skewY(.390625deg)
 }
 88.8% {
  -webkit-transform:skewX(-.1953125deg) skewY(-.1953125deg);
  transform:skewX(-.1953125deg) skewY(-.1953125deg)
 }
}
@keyframes jello {
 0%,
 11.1%,
 to {
  -webkit-transform:none;
  transform:none
 }
 22.2% {
  -webkit-transform:skewX(-12.5deg) skewY(-12.5deg);
  transform:skewX(-12.5deg) skewY(-12.5deg)
 }
 33.3% {
  -webkit-transform:skewX(6.25deg) skewY(6.25deg);
  transform:skewX(6.25deg) skewY(6.25deg)
 }
 44.4% {
  -webkit-transform:skewX(-3.125deg) skewY(-3.125deg);
  transform:skewX(-3.125deg) skewY(-3.125deg)
 }
 55.5% {
  -webkit-transform:skewX(1.5625deg) skewY(1.5625deg);
  transform:skewX(1.5625deg) skewY(1.5625deg)
 }
 66.6% {
  -webkit-transform:skewX(-.78125deg) skewY(-.78125deg);
  transform:skewX(-.78125deg) skewY(-.78125deg)
 }
 77.7% {
  -webkit-transform:skewX(.390625deg) skewY(.390625deg);
  transform:skewX(.390625deg) skewY(.390625deg)
 }
 88.8% {
  -webkit-transform:skewX(-.1953125deg) skewY(-.1953125deg);
  transform:skewX(-.1953125deg) skewY(-.1953125deg)
 }
}
.display-table {
    display: table;
    padding: 5px 0;
}


/*Profile Page*/
.profile-descircle {
	width: 85px;
	height: 85px;
	overflow: hidden;
	border-radius: 50%;
	position: relative;
	background: transparent;
    box-shadow: 0px 0px 10px 1px rgb(208, 207, 255);
}
.profile-descircle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-circlebox {
    margin-top: 25px;
    position: relative;
    display: inline-block;
}
.pluscircle--btn {
    cursor: pointer;
    margin-bottom: 0px;
    position: absolute;
    right: 0;
    bottom: 5px;
    font-size: inherit;
}
.prof-detailstext {
    color: #828282;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    margin-top: 0px;
    display: block;
}
.profile-genderouter {
    border: 1px solid #dbdce1;
    color: #8e93a2;
    border-radius: 25px;
    display: inline-block;
    margin-left: 25px;
}
.profile-genderouter input {
    display: none;
}
.profile-genderouter label {
	margin-bottom: 0px;
	font-weight: 500;
    padding: 7px 21px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
}
.profile-genderouter #male--radio:checked ~ .genderlabel-outer > #male-label, .profile-genderouter #female--radio:checked ~ .genderlabel-outer > #female-label {
    color: #002e61;
    background: #edf0ff;
}
.profile-desouter {
	display: inline-block;
    width: 100%;
    position: relative;
}
.profileinfo-box label {
    color: #01064a;
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}
.profileinfo-box input:focus {
    outline: none;
    background-image: linear-gradient(#01064a, #01064a), linear-gradient(#eaeaec, #eaeaec);
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    outline: medium none;
    transition-duration: 0.3s;
    background-color: transparent;
    color: #6d6d6d;
}
.profileinfo-box {
    margin-top: 35px;
    width: 100%;
}
.max-650 {
    max-width: 650px;
    width: 100%;
}
.max-950 {
    max-width: 950px;
    width: 100%;
}
.profileinfo-box .col-md-4, .profileinfo-box .col-md-6 {
    margin-bottom: 35px;
}
.profileinfo-box input {
    background-color: transparent;
    background-image: linear-gradient(#4ca02d, #4ca02d), linear-gradient(#d0d0d0, #eaeaec);
    background-position: center bottom, center calc(100% - 1px);
    background-repeat: no-repeat;
    background-size: 0 3px, 100% 1px;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    font-weight: 500;
    transition: background 0s ease-out 0s;
    padding: 0px 0px 7px 0px;
    color: #6d6d6d;
    font-size: 15px;
    width: 100%;
}
.profile--settings {
    color: #000;
    display: block;
    margin-bottom: 20px;
    padding: 0px 5px;
    font-weight: 700;
    font-size: 16px;
    width: auto;
}
.profileinfo-box fieldset {
    border: 1px solid #e0e0e0;
    padding: 0px 6px !important;
    margin: 0px;
}
.contain {
    line-height: 30px !important;
    display: inline-block !important;
    position: relative !important;
    padding-left: 25px !important;
    margin-bottom: 0px !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    text-align: left !important;
    color: #01064a !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}
.contain input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.contain input:checked ~ .checkmark {
    background-color: #01064a;
}
.checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 13px;
    width: 13px;
    background-color: transparent;
    transform: translateY(-50%);
    border: 1px solid #01064a;
}
.contain input:checked ~ .checkmark::after {
    display: block;
}
.contain input:checked ~ .checkmark::after {
    content: '';
    position: absolute;
    border: 1px solid #01064a;
    height: 21px;
    width: 21px;
    top: -5px;
    left: -5px;
}

.fa-faslash {
    position: relative;
}

.fa-faslash i{
    position: absolute;
    top: 9px;
    right: 10px;
    cursor: pointer;
    color: #3977eb; 
}

.noproject-foundtext {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 0px;
}
/*Profile Page*/

.pricingstar {
    position: absolute;
    right: 0px;
    top: 20%;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.air_baloon {
    position: absolute;
    top: 8%;
    left: 3%;
    animation: baloon 4s infinite;
}

@keyframes baloon {
    0%   {top: 8%;}
    50%  {top: 15%;}
    100% {top: 8%;}
}

@media only screen and (min-width: 1200px) {
    /* .min--height-box, .create-project-button-tab {
        min-height: 260px;
    } */
    /* app-billing-listing .support-desc-tabs {
        min-height: 260px;
    } */
    rating {
        margin-left: 10px;
        flex:1;
    }
    .font-11 rating.ng-untouched.ng-pristine.ng-valid {
        font-size: 11px;
    }
    .rating-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: right;
    }
    .font-15 .ov-rate {
        font-size: 14px;
    }
    .font-15 .ov-rate + rating.ng-untouched.ng-pristine.ng-valid {
        font-size: 11px;
    }
  }
  @media only screen and (max-width: 1200px){ 
    rating.ng-untouched.ng-pristine.ng-valid {
        display: block;
    }
  }
  @media only screen and (max-width: 767px){ 
    .justify-xs-center {
        justify-content: center;
    }
    .buycredit-body, .buycredit-outer {
        width: 100%;
    }
    .wr-hero-project-details-outer {
        padding: 15px;
    }
    .centered .btn-cmn-pro {
        width: 100%;
        margin-bottom: 15px;
        display: inline-block;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
    }
    .mt-xs-3 {
        margin-top: 15px;
    }
    .min-xs-100vh {
        min-height: auto;
    }
  }
  @media only screen and (max-width: 600px){
    .checkmark {
        right:-13px;
      }
      .pb-xs-0 {
          padding-bottom: 0px;
      }
  }  
/*BEM Ends here*/





