input[type="submit"]:disabled {opacity: 0.5;}
.register-content-outer {padding-bottom: 60px;}
app-form-validation-errors {font-size: 0.8em;color: #f00;font-weight: 500;}
button.submit-btn-feedback:disabled {opacity: 0.5;}
span.red{color: #f00}
aw-wizard-navigation-bar.horizontal.small {display: none;}
.uploadImages .dz-preview{display:none;}
.notEnoughCredits {
    background-color: #ff4444;
    padding: 8px 16px;
    border-radius: 3px;
    color: #fff;
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.19);
    font-weight: 600;
    text-transform: capitalize;
    font-size: 15px;
    margin: 12px 0px 15px;
    display: inline-block;
}
.notEnoughCredits a {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 9px;
    font-size: 12px;
    text-decoration: none;    
    background-color: #ea4949;
    padding: 6px 10px;
}
