<!--Dashboard HTML Starts-->
<div class="dashboard-gutter">
    <div class="container-fluid px-lg-0" data-layout="container-fluid">



        <div class="dashboard-content">
        <app-inner-header></app-inner-header>
        
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
            <div class="Dashboard-inner-contents">
                <div class="row ipad-margin-gutter">
                    <div class="col-md-12">
                        <div class="Dashboard-inner-contents-outer">
                            <div class="row">
                                <div class="col-lg-12 col-xl-12 mx-auto mb-4 mb-lg-0">
                                    <!--Project HTML starts-->
                                    <div class="row">

                                        <div class="col-md-12">
                                            <h4 class="create-project-top-heading">Buy Credits</h4>
                                            <aw-wizard [disableNavigationBar]="true">
                                                <aw-wizard-step
                                                    [canExit]="moveDirection.bind(this, buyCreditsForm.valid)">
                                                    <form [formGroup]="buyCreditsForm">
                                                        <div class="row">
                                                            <div class="col-lg-8">
                                                                <div class="row">
                                                                    <div class="col-lg-12 step-progress-fields">
                                                                        <label>Credits</label>
                                                                        <p>Enter the amount that you will need for your project
                                                                        </p>
                                                                        <div class="col-lg-4 pl-0">

                                                                            <input type="number" #credits
                                                                                class="col-lg-4"
                                                                                formControlName="credits" placeholder=""
                                                                                class="field-design"
                                                                                [ngClass]="{ 'is-invalid': (buyCreditsForm.controls.credits.touched || buyCreditsSubmitted) && buyCreditsForm.controls.credits.errors }">
                                                                            <p
                                                                                *ngIf="buyCreditsForm.controls.credits.touched || buyCreditsSubmitted">
                                                                                <app-form-validation-errors
                                                                                    [isInteger]=true minIntegerValue="1"
                                                                                    errorPrefix="Credits "
                                                                                    [errors]="buyCreditsForm.controls.credits.errors">
                                                                                </app-form-validation-errors>
                                                                            </p>

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12 step-progress-fields">
                                                                        <label>Promo Code</label>
                                                                        <p>Enter a top-secret code if you got one!
                                                                        </p>
                                                                        <div class="col-lg-12 pl-0">

                                                                            <div class="row">
                                                                                <div class="col-md-4">
                                                                                    <input [hidden]="isCouponApplied"
                                                                                        type="text" #coupon_code
                                                                                        formControlName="coupon_code"
                                                                                        placeholder=""
                                                                                        class="field-design text-uppercase">

                                                                                    <p [hidden]="!isCouponApplied"
                                                                                        class="coupon_code_text">
                                                                                        {{coupon_code?.value}}</p>
                                                                                    <a [hidden]="!isCouponApplied"
                                                                                        (click)="removeDiscount()"
                                                                                        href="javascript:void(0)"
                                                                                        class="remove_coupon_code"><i
                                                                                            class="fa fa-trash-o"
                                                                                            aria-hidden="true"></i></a>
                                                                                    <p [innerHTML]="couponCodeResponse"
                                                                                        class="coupon_code_response">
                                                                                        {{couponCodeResponse}}</p>
                                                                                </div>
                                                                                <div class="col-md-4 pl-lg-0">
                                                                                    <a [hidden]="isCouponApplied"
                                                                                        href="javascript:void(0)"
                                                                                        (click)="calculateDiscount(coupon_code.value, credits.value)"
                                                                                        class="apply_coupon_code">Apply</a>
                                                                                </div>
                                                                            </div>

                                                                        </div>


                                                                    </div>

                                                                    <div class="col-lg-12 step-progress-fields">
                                                                        <label>Pay Via</label>

                                                                        <div class="row input--hidden">
                                                                            <div class="col-lg-3">
                                                                                <input #paypal type="radio"
                                                                                    formControlName="pay_via"
                                                                                    value="paypal" id="paypalRadio" />
                                                                                <label for="paypalRadio"
                                                                                    class="paypal--btn submit-btn-feedback">Paypal</label>
                                                                            </div>
                                                                            <!-- <div class="col-lg-3">
                                                                                <input #checkout type="radio"
                                                                                    formControlName="pay_via"
                                                                                    value="twocheckout"
                                                                                    id="checkoutRadio" />
                                                                                <label for="checkoutRadio"
                                                                                    class="paypal--btn submit-btn-feedback">2Checkout</label>
                                                                            </div> -->
                                                                        </div>


                                                                    </div>
                                                                    <div class="col-lg-12 mt-4">

                                                                        <button [disabled]="buyCreditsForm.invalid"
                                                                            (click)="validateBuyCreditsWizard()"
                                                                            type="button"
                                                                            class="submit-btn-feedback min-w-130"
                                                                            awNextStep>
                                                                            ADD CREDITS
                                                                        </button>
                                                                        <!--a href="#" class="advance-text">( or skip )</a-->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </aw-wizard-step>


                                                <aw-wizard-step>


                                                    <div class="buycredit-outer">
                                                        <div class="buycredit-topbar">
                                                            <p>Payement gateway :
                                                                <span *ngIf="buyCreditsForm.controls.pay_via.value == 'paypal'"><img
                                                                        src="https://www.paypalobjects.com/images/shared/paypal-logo-129x32.svg"
                                                                        alt="paypal"></span>
                                                                <span *ngIf="buyCreditsForm.controls.pay_via.value == 'twocheckout'"><img
                                                                        src="assets/image/2checkout.png"
                                                                        alt="2Checkout"></span>
                                                            </p>
                                                            <div class="separator--bottom"></div>
                                                        </div>
                                                        <div class="buycredit-body">
                                                            <div class="row">
                                                                <div class="col-lg-6 mb-4">
                                                                    <div class="buycredit-body--content">
                                                                        <p>Total credits :</p>
                                                                        <span>{{credits?.value}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 mb-4">
                                                                    <div class="buycredit-body--content">
                                                                        <p>Coupon code :</p>
                                                                        <span>{{(appliedCouponCode)?appliedCouponCode:'NA'}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 mb-4">
                                                                    <div class="buycredit-body--content">
                                                                        <p>Discount percentage :</p>
                                                                        <span>{{(discountPercentage)?discountPercentage + '% OFF':'NA'}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 mb-4">
                                                                    <div class="buycredit-body--content">
                                                                        <p>Amount to pay :</p>
                                                                        <span>${{(calAmountToPay)?calAmountToPay:credits?.value}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ng-container
                                                        *ngIf="buyCreditsForm.controls.pay_via.value == 'paypal'">
                                                        <div class="col-lg-7 mt-4 step4-submit-fields">
                                                            <div class="row">
                                                                <div
                                                                    class="flex-mobile-column col-lg-11 d-flex align-items-start justify-content-between px-0">


                                                                    <button type="button" awPreviousStep
                                                                        class="submit-btn-feedback min-w-130 min-w100">
                                                                        PREVIOUS
                                                                    </button>
                                                                    <ngx-paypal #paypalCustom [config]="payPalConfig">
                                                                    </ngx-paypal>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="buyCreditsForm.controls.pay_via.value == 'twocheckout'">
                                                        <div class="col-md-7 px-0">




                                                            <form [formGroup]="checkoutTokenForm" class="mt-3 ">
                                                                <div class="profileinfo-box">
                                                                    <fieldset class="border-2">
                                                                        <legend _ngcontent-fes-c5=""
                                                                            class="profile--settings">Card Information
                                                                        </legend>
                                                                        <div class="row mx-0">
                                                                            <div class="col-md-6">
                                                                                <label
                                                                                    class="step-progress-fields-label">
                                                                                    <span>Card Number</span>
                                                                                </label>

                                                                                <input id="cc-number"
                                                                                    formControlName="creditCard"
                                                                                    type="tel" autocomplete="cc-number"
                                                                                    ccNumber>
                                                                                <p
                                                                                    *ngIf="checkoutTokenForm.controls.creditCard.touched || isSubmitted">
                                                                                    <app-form-validation-errors
                                                                                        errorPrefix="
                                                                                    Valid card number"
                                                                                        [errors]="checkoutTokenForm.controls.creditCard.errors">
                                                                                    </app-form-validation-errors>
                                                                                </p>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label
                                                                                    class="step-progress-fields-label">
                                                                                    <span>Expiration Date
                                                                                        (MM/YYYY)</span>
                                                                                </label>
                                                                                <input id="cc-exp-date"
                                                                                    formControlName="expirationDate"
                                                                                    type="tel" autocomplete="cc-exp"
                                                                                    ccExp>
                                                                                <p
                                                                                    *ngIf="checkoutTokenForm.controls.expirationDate.touched || isSubmitted">
                                                                                    <app-form-validation-errors
                                                                                        errorPrefix="
                                                                                Valid card number"
                                                                                        [errors]="checkoutTokenForm.controls.expirationDate.errors">
                                                                                    </app-form-validation-errors>
                                                                                </p>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label
                                                                                    class="step-progress-fields-label">
                                                                                    <span>CVC</span>
                                                                                </label>
                                                                                <input id="cc-cvc" formControlName="cvc"
                                                                                    type="tel" autocomplete="off" ccCvc>
                                                                                <p
                                                                                    *ngIf="checkoutTokenForm.controls.cvc.touched || isSubmitted">
                                                                                    <app-form-validation-errors patternError="Must enter valid cvc."  minLength=3 maxLength=4
                                                                                        errorPrefix="
                                                                                CVC number"
                                                                                        [errors]="checkoutTokenForm.controls.cvc.errors">
                                                                                    </app-form-validation-errors>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </fieldset>
                                                                </div>

                                                                <div class="row mt-4">

                                                                    <div class="col-md-6">
                                                                        <button type="button" awPreviousStep
                                                                            class="submit-btn-feedback min-w-130 min-w100">
                                                                            PREVIOUS
                                                                        </button>
                                                                    </div>



                                                                    <div class="col-md-3 ml-auto">
                                                                        <input id="token" name="token" type="hidden"
                                                                            value="">

                                                                        <button role="button"
                                                                            class="twocheckoutgreen w-100 text-center"
                                                                            (click)="generateToken()">
                                                                            Pay
                                                                            </button>
                                                                    </div>

                                                                </div>

                                                            </form>


                                                        </div>
                                                    </ng-container>
                                                </aw-wizard-step>
                                            </aw-wizard>
                                        </div>

                                    </div>
                                    <!--Project HTML ends-->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--Dashboard HTML Ends-->
</div>