<!--Dashboard HTML Starts-->





<div class="dashboard-gutter">
    <div class="container-fluid px-lg-0" data-layout="container-fluid">

  

        <div class="dashboard-content">            
            <nav class="navbar-top scrolling-on">
                <a href="#" class="mobile-dashboard-logo"><img src="assets/image/wh-mobile-logo.png"></a>
                <p class="mobile-dashboard-heading">Dashboard</p>
                <button class="navbar-toggler overflow-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="true"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </nav>
        </div>
    </div>

    <!--Dashboard HTML Ends-->
</div>