<footer>
    <div class="container-custom">
        <div class="col-md-12">
            <div class="row align-items-center">
                <div class="col-xs-1">
                    <img src="assets/image/logo.png" class="img-fluid">
                </div>
                <div class="col-lg-10 text-center mx-auto">
                    <p>© 2020 · <a routerLink="/" class="footer-link-writehero"> Bookwy </a> <span> | </span>
                        <a href="javascript:void(0)">All Rights Reserved</a> <span> | </span>
                        <a href="https://intercom.help/bookwy/en/articles/3837700-terms-and-conditions" target="_blank" class="footer-link-writehero"> Terms & Conditions </a> <span> | </span>
                        <a href="https://intercom.help/bookwy/en/articles/3837700-terms-and-conditions" target="_blank" class="footer-link-silverbackhosts"> Privacy Policy </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

