<footer>
    <div class="container-custom">
        <div class="col-md-12">
            <div class="row align-items-center">
                <div class="col-xs-1">
                    <img src="assets/image/logo.png" class="img-fluid">
                </div>
                <div class="col-lg-10 text-center mx-auto">
                    <p>© 2020 · <a routerLink="/" class="footer-link-writehero"> Bookwy </a> <span> | </span>
                        <a href="javascript:void(0)">All Rights Reserved</a> <span> | </span>
                        <a routerLink="/terms-conditions" target="_blank" class="footer-link-writehero"> Terms & condition </a> <span> | </span>
                        <a routerLink="/privacy-policy" target="_blank" class="footer-link-silverbackhosts"> Privacy Policy </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    window.intercomSettings = {
      app_id: "joro9d7f"
    };
  </script>
  
  <script>
  // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/joro9d7f'
  (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/joro9d7f';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
  </script>
  
  
  <script>
    window.intercomSettings = {
      app_id: "joro9d7f",
      name: "{{userName}}", // Full name
      email: "{{userEmail}}", // Email address
      created_at: "{{userRegDate}}" // Signup date as a Unix timestamp
    };
  </script>
  
  <script>
  // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/joro9d7f'
  (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/joro9d7f';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
  </script>