<!--Dashboard HTML Starts-->
<div class="dashboard-gutter">
    <div class="container-fluid px-lg-0" data-layout="container-fluid">



        <div class="dashboard-content">

            <nav class="navbar-top scrolling-on">
                <a href="#" class="mobile-dashboard-logo"><img src="assets/image/writehero-fav.png"></a>
                <p class="mobile-dashboard-heading">Dashboard</p>
                <button class="navbar-toggler overflow-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="true"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </nav>
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
            <div class="Dashboard-inner-contents">
                <div class="row ipad-margin-gutter">
                    <div class="col-md-12">
                        <div class="Dashboard-inner-contents-outer">
                            <div class="row">
                                <div class="col-lg-12 col-xl-12 mx-auto mb-4 mb-lg-0">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="wr-hero-project-details-outer centered">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <div class="dashboard-project-cum-header">
                                                            <p class="wr-hero-pro-detail-code">{{projectDetails?.code}}
                                                            </p>
                                                            <p class="wr-hero-pro-detail-subject">
                                                                {{projectDetails?.project_name}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="wr-hero-project-history whole-pattern mt-xs-3">
                                                            <h6 class="wr-hero-project-history-title"><span
                                                                    class="fnt-18-0">{{projectDetails?.project_type_name}}</span><span
                                                                    class="fnt-30-0">${{projectDetails?.project_cost}}</span>
                                                            </h6>
                                                            <p class="pcs10">{{projectDetails?.quantity}} x
                                                                {{projectDetails?.word_count}} words</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="dashboard-project-cum-body">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="row">

                                                                <div class="col-lg-12">
                                                                    <p class="dashboard-project-cum-body-labels">
                                                                        project topic :
                                                                    </p>
                                                                </div>
                                                                <div class="col-lg-12 mb-3">
                                                                    <p class="dashboard-project-cum-body-contens">
                                                                        {{projectDetails?.project_topic}}</p>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <p class="dashboard-project-cum-body-labels">
                                                                        project Type :
                                                                    </p>
                                                                </div>
                                                                <div class="col-lg-12 mb-3">
                                                                    <p class="dashboard-project-cum-body-contens">
                                                                        {{projectDetails?.project_type}}</p>
                                                                </div>

                                                                <div class="col-lg-12">
                                                                    <p class="dashboard-project-cum-body-labels">
                                                                        project details :
                                                                    </p>
                                                                </div>
                                                                <div class="col-lg-12 mb-3">
                                                                    <p class="dashboard-project-cum-body-contens">
                                                                        {{projectDetails?.project_dtl}}</p>
                                                                </div>
                                                                <div *ngIf="projectDetails?.additional_resources"
                                                                    class="col-lg-12">
                                                                    <p class="dashboard-project-cum-body-labels">
                                                                        Additional Resources :
                                                                    </p>
                                                                </div>
                                                                <div *ngIf="projectDetails?.additional_resources"
                                                                    class="col-lg-12 mb-3">
                                                                    <p class="dashboard-project-cum-body-contens">
                                                                        {{projectDetails?.additional_resources}}</p>
                                                                </div>
                                                                <div *ngIf="projectDetails?.project_file"
                                                                    class="col-lg-12">
                                                                    <p class="dashboard-project-cum-body-labels">
                                                                        Files :
                                                                    </p>
                                                                </div>
                                                                <div *ngIf="projectDetails?.project_file"
                                                                    class="col-lg-12 mb-3">
                                                                    <a target="_blank"
                                                                        href="{{projectDetails?.project_file}}">Download</a>
                                                                </div>
                                                                <div *ngIf="projectDetails?.choice_of_writers"
                                                                    class="col-lg-12">
                                                                    <p class="dashboard-project-cum-body-labels">
                                                                        Choice of writers :
                                                                    </p>
                                                                </div>
                                                                <div *ngIf="projectDetails?.choice_of_writers"
                                                                    class="col-lg-12 mb-3">
                                                                    <p class="dashboard-project-cum-body-contens">
                                                                        {{projectDetails?.choice_of_writers}}</p>
                                                                </div>
                                                                <div *ngIf="projectDetails?.writers_career"
                                                                    class="col-lg-12">
                                                                    <p class="dashboard-project-cum-body-labels">
                                                                        Writers career :
                                                                    </p>
                                                                </div>
                                                                <div *ngIf="projectDetails?.writers_career"
                                                                    class="col-lg-12 mb-3">
                                                                    <p class="dashboard-project-cum-body-contens">
                                                                        {{projectDetails?.writers_career}}</p>
                                                                </div>
                                                                <div *ngIf="projectDetails?.writers_age"
                                                                    class="col-lg-12">
                                                                    <p class="dashboard-project-cum-body-labels">
                                                                        Writers age bracket :
                                                                    </p>
                                                                </div>
                                                                <div *ngIf="projectDetails?.writers_age"
                                                                    class="col-lg-12 mb-3">
                                                                    <p class="dashboard-project-cum-body-contens">
                                                                        {{(projectDetails?.writers_age)?(projectDetails?.writers_age)+' years':'NA'}}</p>
                                                                </div>
                                                                <div *ngIf="projectDetails?.writers_location"
                                                                    class="col-lg-12">
                                                                    <p class="dashboard-project-cum-body-labels">
                                                                        Writers location :
                                                                    </p>
                                                                </div>
                                                                <div *ngIf="projectDetails?.writers_location"
                                                                    class="col-lg-12 mb-3">
                                                                    <p class="dashboard-project-cum-body-contens">
                                                                        {{projectDetails?.writers_location}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 text-lg-right">


                                                            

                                                            <!--Penidng / Revised Status-->
                                                            <a routerLink="/user/create-ticket"
                                                                *ngIf="(projectDetails.project_status == 'Pending') || (projectDetails.project_status == 'Resume')"
                                                                class="btn-cmn-pro mr-2">Ask update</a>

                                                            <a routerLink="/user/create-ticket"
                                                                *ngIf="(projectDetails.project_status == 'Pending') || (projectDetails.project_status == 'Revised') || (projectDetails.project_status == 'Resume')"
                                                                class="btn-cmn-pro mr-2">Contact Support</a>

                                                            <!--NEW / Pause / Draft Status-->
                                                            <a routerLink="/user/edit-project/{{projectDetails.id}}"
                                                                *ngIf="(projectDetails.project_status == 'New') ||  (projectDetails.project_status == 'Pause')"
                                                                class="btn-cmn-pro mr-2">Edit project</a>
                                                            <a [attr.data-projectStatus]="'Pause'"
                                                                (click)="onUpdateStatus($event)"
                                                                href="javascript:void(0)"
                                                                *ngIf="(projectDetails.project_status == 'New')"
                                                                class="btn-cmn-pro mr-2">Pause project</a>

                                                            <a (click)="onCancelProject()" href="javascript:void(0)"
                                                                *ngIf="(projectDetails.project_status == 'New') ||  (projectDetails.project_status == 'Pause')"
                                                                class="btn-cmn-pro mr-2">Cancel project</a>


                                                            <!--NEW Status-->

                                                            <!--Draft Status-->
                                                            <a [attr.data-projectStatus]="'New'"
                                                                (click)="onLaunchProject($event)"
                                                                href="javascript:void(0)"
                                                                *ngIf="(projectDetails.project_status == 'Draft')"
                                                                class="btn-cmn-pro mr-2">Launch Project</a>

                                                            <!--Complete/Revised Status-->


                                                            <a routerLink="/user/create-feedback"
                                                                *ngIf="(projectDetails.project_status == 'Complete')"
                                                                class="btn-cmn-pro mr-2">Submit Feedback</a>

                                                            <a routerLink="/user/create-ticket"
                                                                *ngIf="projectDetails.project_status == 'Complete'"
                                                                class="btn-cmn-pro mr-2">Revision Request</a>

                                                            
                                                            <a href="{{ projectDetails?.completed_project_file }}"
                                                                *ngIf="(projectDetails.project_status == 'Complete') && (projectDetails.completed_project_file != '')"
                                                                class="btn-cmn-pro mr-2">

                                                                Download

                                                            </a>

                                                            <!--Complete Status-->
                                                            <!--Pause Status-->
                                                            <a [attr.data-projectStatus]="'Resume'"
                                                                (click)="onUpdateStatus($event)"
                                                                href="javascript:void(0)"
                                                                *ngIf="(projectDetails.project_status == 'Pause')"
                                                                class="btn-cmn-pro mr-2">Resume project</a>
                                                            <!--Pause Status-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-4 pr-lg-0">
                                            <div class="right-thumb-feeds-outer">
                                                <div class="updates-vertical-outer min-100vh min-xs-100vh">
                                                    <div class="dashboard-rightside-updates">
                                                        <div class="dashboard-rightside-updates-haeder">
                                                            <p class="dashboard-rightside-updates-header-title">Progress
                                                                History</p>
                                                        </div>
                                                        <div class="dashboard-rightside-updates-content-outer">

                                                            <ul *ngIf="projectStatus.length > 0; else elseProjectStatusBlock"
                                                                class="list-unstyled display">
                                                                <li *ngFor="let status of projectStatus;let i = index;">
                                                                    <span
                                                                        class="blibker blinker-yellow blinker-yellow"></span>
                                                                    <p class="mb-0"><span
                                                                            class="wr-hero-project-history-date">{{status.status_date | date}}
                                                                            - </span><span
                                                                            class="wr-hero-project-history-assigned">{{status?.status_description}}</span>
                                                                    </p>
                                                                </li>

                                                            </ul>
                                                            <ng-template #elseProjectStatusBlock>
                                                                <ul class="list-unstyled display">
                                                                    <li>
                                                                        <span
                                                                            class="blibker blinker-yellow blinker-yellow"></span>
                                                                        <p class="mb-0"><span
                                                                                class="wr-hero-project-history-date">{{projectDetails?.project_cdate | date : "dd-MM-yyyy"}}
                                                                                - </span><span
                                                                                class="wr-hero-project-history-assigned">{{projectDetails?.project_status}}</span>
                                                                        </p>
                                                                    </li>

                                                                </ul>
                                                            </ng-template>
                                                        </div>
                                                    </div>


                                                    <div class="dashboard-rightside-updates latest-feedback">
                                                        <div class="dashboard-rightside-updates-haeder">
                                                            <p class="dashboard-rightside-updates-header-title">Project
                                                                Status : <span
                                                                    class="font-weight-bold">{{(projectDetails.project_status)?projectDetails.project_status: 'NA'}}</span>
                                                            </p>
                                                        </div>
                                                        <div class="project-status-active-o">
                                                            <div class="display-table">
                                                                <div class="table-row">
                                                                    <div class="table-cell">
                                                                        <p class="wr-hero-project-history-date">EDD</p>
                                                                    </div>
                                                                    <div class="table-cell">
                                                                        <p class="wr-hero-project-history-assigned">
                                                                            {{(projectDetails.estimated_date_delivery != '0000-00-00')?(projectDetails.estimated_date_delivery | date):'NA'}}
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                                
                                                                <div class="table-row">
                                                                    <div class="table-cell">
                                                                        <p class="wr-hero-project-history-date">
                                                                            Progress </p>
                                                                    </div>
                                                                    <div class="table-cell">
                                                                        <p class="wr-hero-project-history-assigned">
                                                                            {{(projectDetails.progress)?projectDetails.progress + ' articles completed.': 'NA'}}
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                                <div class="table-row">
                                                                    <div class="table-cell">
                                                                        <p class="wr-hero-project-history-date">
                                                                            turnaround </p>
                                                                    </div>
                                                                    <div class="table-cell">
                                                                        <p class="wr-hero-project-history-assigned">
                                                                            {{(projectDetails.estimated_arrival)?projectDetails.estimated_arrival + ' days': 'NA'}}
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                                <div class="table-row">
                                                                    <div class="table-cell">
                                                                        <p class="wr-hero-project-history-date">Notes
                                                                        </p>
                                                                    </div>
                                                                    <div class="table-cell">
                                                                        <p class="wr-hero-project-history-assigned">
                                                                            {{(projectDetails.director_notes)?projectDetails.director_notes: 'NA'}}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div *ngIf="(projectDetails.project_status == 'Complete') && (projectDetails.completed_project_file != '')"
                                                                    class="table-row">
                                                                    <div class="table-cell">
                                                                        <p class="wr-hero-project-history-date">Download File
                                                                        </p>
                                                                    </div>
                                                                    <div class="table-cell">
                                                                        <p class="wr-hero-project-history-assigned">
                                                                            <a href="{{projectDetails?.completed_project_file}}"
                                                                                class="btn-cmn-pro mr-2 margin--custom">Download</a>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>