<!--Our Services starts-->
<section class="services-section grid-gap" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="service_heading-outer center-heading">
                        <h2 class="heading-title">our services</h2>
                        <h4 class="heading-content">Some Of Our<br>
                                Professional service</h4>
                    </div>
                </div>
                <div class="sercice_content-cards">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="service_content-cards odd">
                                <div class="cards-header">
                                    <div class="card-img">
                                        <img src="assets/image/writehero-services-icon1.png">
                                    </div>
                                </div>
                                <div class="cards-content">
                                    <h6>Find a “Niche” writer!</h6>
                                    <p>Most writing services just assign your project to any writer who doesn’t have a basic knowledge about the niche. In WriteHero, we can find a specific writer according to your topic’s subject…. from Accountancy to Zoology.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="service_content-cards even">
                                <div class="cards-header">
                                    <div class="card-img">
                                        <img src="assets/image/writehero-services-icon2.png">
                                    </div>
                                </div>
                                <div class="cards-content">
                                    <h6>Order Quality eBooks</h6>
                                    <p>We specialize in writing eBooks. But we also write blogs, blurbs, scripts articles and most forms of web content. We can also customize the writer’s personality based on your preferred writing style, tone and core message.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="service_content-cards odd">
                                <div class="cards-header">
                                    <div class="card-img">
                                        <img src="assets/image/writehero-services-icon3.png">
                                    </div>
                                    </div>
                                    <div class="cards-content">
                                        <h6>200% Workback Gurantee</h6>
                                        <p>There is no such thing as 100% Perfect High Quality Content. If you’re not satisfied, we’ll redo the whole project or reassign to a new writer – free of charge. Revisions includes grammar, writing style, content relevance, structure and more!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                                <div class="service_content-cards even">
                                    <div class="cards-header">
                                        <div class="card-img">
                                            <img src="assets/image/writehero-services-icon1.png">
                                        </div>
                                    </div>
                                    <div class="cards-content">
                                        <h6>Find a “Niche” writer!</h6>
                                        <p>Most writing services just assign your project to any writer who doesn’t have a basic knowledge about the niche. In WriteHero, we can find a specific writer according to your topic’s subject…. from Accountancy to Zoology.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="service_content-cards odd">
                                    <div class="cards-header">
                                        <div class="card-img">
                                            <img src="assets/image/writehero-services-icon2.png">
                                        </div>
                                    </div>
                                    <div class="cards-content">
                                        <h6>Order Quality eBooks</h6>
                                        <p>We specialize in writing eBooks. But we also write blogs, blurbs, scripts articles and most forms of web content. We can also customize the writer’s personality based on your preferred writing style, tone and core message.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="service_content-cards even">
                                    <div class="cards-header">
                                        <div class="card-img">
                                            <img src="assets/image/writehero-services-icon3.png">
                                        </div>
                                        </div>
                                        <div class="cards-content">
                                            <h6>200% Workback Gurantee</h6>
                                            <p>There is no such thing as 100% Perfect High Quality Content. If you’re not satisfied, we’ll redo the whole project or reassign to a new writer – free of charge. Revisions includes grammar, writing style, content relevance, structure and more!</p>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--Our Services ends-->


<!--testimonial section starts-->
    <section class="testimonial-section grid-gap" id="testimonial">
        <div class="testimonial-banner">
            <div class="testimonial-title">
            <h2>Meet <span>WriteHero</span> we know how hard it is to look for a reliable freelance writer.</h2>
            <p>We will collaborate with you in curating content that informs and inspires.</p>
            </div>
        </div>

        <div class="testimonial-content grid-gap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="service_heading-outer center-heading">
                            <h2 class="heading-title">OUR TESTIMONIALS</h2>
                            <h4 class="heading-content">What our clients says</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                            <div class="owl-carousel abc1 owl-theme">
                                    <div class="item">
                                       <div class="testimonial_thumb ">
                                          <div class="testimonial_icon">
                                             <div class="thumb"><img src="assets/image/testimonial-usericon1.png" alt=""></div>
                                             <div class="thumb_info">
                                                <span class="thumb_name">Alen Shuvro</span>
                                                <span class="thumb_tag">JMC Int.</span>
                                             </div>
                                          </div>
                                          <div class="testimonial_info">
                                             <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem </p>
                                             <div class="testimonial_star">
                                                <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                                <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                                <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                                <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                                <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="item">
                                       <div class="testimonial_thumb ">
                                          <div class="testimonial_icon">
                                             <div class="thumb"><img src="assets/image/testimonial-usericon2.png" alt=""></div>
                                             <div class="thumb_info">
                                                <span class="thumb_name">Alen Shuvro</span>
                                                <span class="thumb_tag">JMC Int.</span>
                                             </div>
                                          </div>
                                          <div class="testimonial_info">
                                             <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem </p>
                                             <div class="testimonial_star">
                                                <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                                <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                                <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                                <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                                <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="item">
                                       <div class="testimonial_thumb ">
                                          <div class="testimonial_icon">
                                             <div class="thumb"><img src="assets/image/testimonial-usericon3.png" alt=""></div>
                                             <div class="thumb_info">
                                                <span class="thumb_name">Alen Shuvro</span>
                                                <span class="thumb_tag">JMC Int.</span>
                                             </div>
                                          </div>
                                          <div class="testimonial_info">
                                             <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem </p>
                                             <div class="testimonial_star">
                                                <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                                <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                                <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                                <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                                <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="item">
                                       <div class="testimonial_thumb ">
                                          <div class="testimonial_icon">
                                             <div class="thumb"><img src="assets/image/testimonial-usericon2.png" alt=""></div>
                                             <div class="thumb_info">
                                                <span class="thumb_name">Alen Shuvro</span>
                                                <span class="thumb_tag">JMC Int.</span>
                                             </div>
                                          </div>
                                          <div class="testimonial_info">
                                             <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem </p>
                                             <div class="testimonial_star">
                                                <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                                <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                                <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                                <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                                <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--testimonial section ends-->


<!--Pricing section starts-->
<div class="pricing-section">
    <div class="container">
        <div class="row plan">
            <div class="col-md-12 ">
                <div class="service_heading-outer center-heading">
                    <h2 class="heading-title">Pricing</h2>
                    <h4 class="heading-content">Our pricing structure</h4>
                </div>
            </div>
        </div>

        <div class="row plans-outer">
            <div class="col-xsm-3">
                <div class="plans rounded-right-none">
                    <div class="plan-head">
                        <h4>junior</h4>
                    </div>
                    <div class="plan-price-value">
                        <h3>$1</h3>
                        <p>Per 100 <span class="d-block">Word</span></p>
                    </div>
                    <div class="plan-price-content">
                        <ul class="list-unstyled">
                            <li>Niche Writers</li>
                            <li>Writers Persona</li>
                            <li>1-2 Weeks Turnaround</li>
                            <li>Basic Google Research</li>
                            <li>Regular Editor Review</li>
                            <li>One-Time Revision</li>
                        </ul>
                    </div>
                    <div class="pricing_star">
                            <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                            <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                            <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                            <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                            <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                    </div>
                    <a href="#" class="btn-signup">SIGN UP</a>
                </div>
            </div>

            <div class="col-xsm-4">
                <div class="plans-elite">
                    <div class="elite-head">
                        <h4>elite</h4>
                    </div>
                    <div class="elite-price-value">
                        <h3>$2</h3>
                        <p>Per 100 <span class="d-block">Word</span></p>
                    </div>
                    <div class="elite-content">
                            <div class="plan-price-content-elite">
                                    <ul class="list-unstyled">
                                        <li>Fluent Niche Writers</li>
                                        <li>Writers Persona</li>
                                        <li>3-5 Weeks Turnaround</li>
                                        <li>Deep Google Research</li>
                                        <li>Strict Editor Review</li>
                                        <li>Unlimited Revision</li>
                                    </ul>
                                </div>
                                <div class="pricing_star">
                                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                </div>
                    </div>
                    <a href="#" class="btn-signup">SIGN UP</a>
                </div>
            </div>

            <div class="col-xsm-3">
                    <div class="plans rounded-left-none">
                            <div class="plan-head prime">
                                <h4>prime</h4>
                            </div>
                            <div class="plan-price-value">
                                <h3>$1.5</h3>
                                <p>Per 100 <span class="d-block">Word</span></p>
                            </div>
                            <div class="plan-price-content">
                                <ul class="list-unstyled">
                                    <li>Niche Writers</li>
                                    <li>Writers Persona</li>
                                    <li>1-2 Weeks Turnaround</li>
                                    <li>Basic Google Research</li>
                                    <li>Regular Editor Review</li>
                                    <li>One-Time Revision</li>
                                </ul>
                            </div>
                            <div class="pricing_star">
                                    <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                    <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                    <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                    <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                    <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                            </div>
                            <a href="#" class="btn-signup">SIGN UP</a>
                    </div>
            </div>
        </div>
    </div>
</div>
<!--Pricing section ends-->

<!--our stats starts-->
<section class="section-stats">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="service_heading-outer center-heading">
                    <h2 class="heading-title">STATS</h2>
                    <h4 class="heading-content">our stats</h4>
              </div>
            </div>
            <div class="col-lg-11 mx-auto pt-4">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="projects-box compelted">
                            <div class="projects-content">
                                <img src="assets/image/writehero-statsicon1.png">
                                <h6>projects completed</h6>
                                <p class="counter">2500</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="clints-projects">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="project-box cp">
                                 <div class="client-served">
                                    <img src="assets/image/writehero-statsicon2.png">
                                    <h6>Clients served</h6>
                                    <p class="counter">1000</p>
                                 </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="projects-box contentsize">
                                    <img src="assets/image/writehero-statsicon3.png">
                                    <p class="counter">10</p>
                                    <h6>Years experience</h6>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                    <div class="cp coffee">
                                        <img src="assets/image/writehero-statsicon4.png">
                                        <p class="counter">500</p>
                                        <h6>coffee drinks</h6>
                                    </div>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--our stats ends-->

<!--Our clients starts-->
    <section class="section-clients">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="center-heading">
                        <h2 class="heading-title">Our clients</h2>
                        <h4 class="heading-content">From across the globe</h4>
                    </div>
                </div>
            </div>
            <div class="clients-outer">
                <div class="row">
                    <div class="col-xsm-2">
                        <div class="client-logo">
                            <img src="assets/image/ecp_grey.svg">
                        </div>
                    </div>
                    <div class="col-xsm-2">
                            <div class="client-logo">
                                <img src="assets/image/soaq_grey.svg">
                            </div>
                    </div>
                    <div class="col-xsm-2">
                            <div class="client-logo">
                                <img src="assets/image/IMG_grey.svg">
                            </div>
                    </div>
                    <div class="col-xsm-2">
                            <div class="client-logo">
                                <img src="assets/image/Front_Rush.svg">
                            </div>
                    </div>
                    <div class="col-xsm-2">
                            <div class="client-logo">
                                <img src="assets/image/2xu_grey.svg">
                            </div>
                    </div>
                    <div class="col-xsm-2">
                            <div class="client-logo">
                                <img src="assets/image/coach-new.png">
                            </div>
                    </div>
                    <div class="col-xsm-2">
                            <div class="client-logo">
                                <img src="assets/image/Lafarge_grey.svg">
                            </div>
                    </div>
                    <div class="col-xsm-2">
                            <div class="client-logo">
                                <img src="assets/image/Paypal_grey.svg">
                            </div>
                    </div>
                    <div class="col-xsm-2">
                            <div class="client-logo">
                                <img src="assets/image/mothercare_grey.svg">
                            </div>
                    </div>
                    <div class="col-xsm-2">
                            <div class="client-logo">
                                <img src="assets/image/microsoft_grey.svg">
                            </div>
                    </div>
                    <div class="col-xsm-2">
                            <div class="client-logo">
                                <img src="assets/image/haymarket_grey.svg">
                            </div>
                    </div>
                    <div class="col-xsm-2">
                            <div class="client-logo">
                                <img src="assets/image/wheels_grey.svg">
                            </div>
                    </div>
                    <div class="col-xsm-2">
                            <div class="client-logo">
                                <img src="assets/image/harvard-business-review.svg">
                            </div>
                    </div>
                    <div class="col-xsm-2">
                            <div class="client-logo">
                                <img src="assets/image/sampleboard-new.png">
                            </div>
                    </div>
                    <div class="col-xsm-2">
                            <div class="client-logo">
                                <img src="assets/image/wooclub.svg">
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--Our clients ends-->

<!--project mind starts-->
    <section class="project-mind">
        <div class="sectionroll">
            <h3>Have a project in mind?</h3>
            <p>Want to share with us </p>
            <a href="#" class="btn-done px-5">CONTACT US</a>
        </div>
    </section>
<!--project mind ends-->
