<!--Our Services starts-->
<section class="services-section grid-gap" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="service_heading-outer center-heading  aos-init aos-animate" data-aos="fade-up"
                    data-aos-delay="100">
                    <h2 class="heading-title">Our Approach</h2>
                    <h4 class="heading-content">What we offer, <br>
                        without the hype</h4>
                </div>
            </div>
            <div class="sercice_content-cards">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="service_content-cards odd wow-title" data-aos="fade-up" data-aos-delay="100">
                            <div class="cards-header">
                                <div class="card-img">
                                    <img src="assets/image/01.png">
                                </div>
                            </div>
                            <div class="cards-content">
                                <h6 data-aos="fade-up" data-aos-delay="100">Looking to sell eBooks?</h6>
                                <p data-aos="fade-up" data-aos-delay="100">See your name in print. Establish your brand
                                    and authority. We turn your idea and craft them
                                    into laser-focused niche products that educate, inspire or entertain, increasing
                                    your book’s
                                    chances to be a bestseller.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service_content-cards even wow-title" data-aos="fade-up" data-aos-delay="100">
                            <div class="cards-header">
                                <div class="card-img">
                                    <img src="assets/image/02.png">
                                </div>
                            </div>
                            <div class="cards-content">
                                <h6 data-aos="fade-up" data-aos-delay="100">eBooks that nurture leads</h6>
                                <p data-aos="fade-up" data-aos-delay="100">What do you want your target audience to do,
                                    learn or feel after reading your product? We
                                    know how to nail down the voice you’re looking for without sounding like a
                                    gargantuan
                                    megaphone on your leads.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service_content-cards odd" data-aos="fade-up" data-aos-delay="300">
                            <div class="cards-header">
                                <div class="card-img">
                                    <img src="assets/image/03.png">
                                </div>
                            </div>
                            <div class="cards-content">
                                <h6 data-aos="fade-up" data-aos-delay="300">Self-publish your eBooks</h6>
                                <p data-aos="fade-up" data-aos-delay="300">Amazon Kindle has very strict standards in
                                    book publishing. Our clients have enjoyed up to
                                    98% approval rate in Kindle, Barnes & Noble, Kobo, Lulu, Apple Books, Book Baby,
                                    Smashwords, IngramSpark and more!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service_content-cards even" data-aos="fade-up" data-aos-delay="100">
                            <div class="cards-header">
                                <div class="card-img">
                                    <img src="assets/image/04.png">
                                </div>
                            </div>
                            <div class="cards-content">
                                <h6 data-aos="fade-up" data-aos-delay="100"> Deep Project Collaboration</h6>
                                <p data-aos="fade-up" data-aos-delay="100">Attention to detail is important for us so we
                                    can organize your scattered ideas
                                    and turn them into a single masterpiece. If you have a strong vision for your book,
                                    then
                                    together, we can blend something awesome!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service_content-cards odd" data-aos="fade-up" data-aos-delay="200">
                            <div class="cards-header">
                                <div class="card-img">
                                    <img src="assets/image/05.png">
                                </div>
                            </div>
                            <div class="cards-content">
                                <h6 data-aos="fade-up" data-aos-delay="200">Real eBook Writers</h6>
                                <p data-aos="fade-up" data-aos-delay="200">Unlike ‘jack-of-all-trades’ writers, we’ve
                                    spent years honing our skills in creating in-depth
                                    eBooks with a “Trust-&-delight” framework in mind. Our conversational writing style
                                    is
                                    engaging, light-hearted & fun to read.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service_content-cards even" data-aos="fade-up" data-aos-delay="300">
                            <div class="cards-header">
                                <div class="card-img">
                                    <img src="assets/image/06.png">
                                </div>
                            </div>
                            <div class="cards-content">
                                <h6 data-aos="fade-up" data-aos-delay="300">100% Moneyback Guarantee</h6>
                                <p data-aos="fade-up" data-aos-delay="300">We understand that you may have some trust
                                    issues. If you’re not satisfied with the finished
                                    product, we’ll give your money back, safe and sound in your wallet (Even if our
                                    writers cry).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Our Services ends-->


<!--testimonial section starts-->
<section class="testimonial-section grid-gap position-relative" id="testimonial">
    <img src="assets/image/air_baloon.png" alt="" class="air_baloon">
    <div class="testimonial-banner">
        <div class="testimonial-title" data-aos="fade-right" data-aos-delay="500">

            <h2>Meet <span>Bookwy!</span> We know how hard it is to look for a reliable freelance eBook writer.
                We will collaborate with you in curating authentic content that informs and inspires.</h2>
            <!-- <p>We will collaborate with you in curating content that informs and inspires.</p> -->
        </div>
    </div>

    <div class="testimonial-content grid-gap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="service_heading-outer center-heading">
                        <h2 class="heading-title">OUR TESTIMONIALS</h2>
                        <h4 class="heading-content">Meet some of our believers</h4>
                    </div>
                </div>
                <div class="col-md-12">
                    <owl-carousel-o [options]="customOptions">
                        <!-- <ng-container *ngFor="let feedback of feedbacks; let i = index;">
                            <ng-template carouselSlide [id]="i">
                                <div class="testimonial_thumb ">
                                    <div class="testimonial_icon">
                                        <div class="thumb">
                                            <img [src]="(feedback?.profile_pic) ? (feedback?.profile_pic)  : defaultPath"
                                                alt="">
                                        </div>
                                        <div class="thumb_info">
                                            <span class="thumb_name">{{(feedback.first_name)?(feedback.first_name):(feedback.user_name)}}</span>
                                            
                                        </div>
                                    </div>
                                    <div class="testimonial_info">
                                        <p>{{feedback?.feed_desc}}</p>
                                        <div class="testimonial_star">
                                            <rating [readonly]="true"
                                                [(ngModel)]="feedback.overall_rate">
                                            </rating>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-container> -->

                        <ng-container>
                            <ng-template carouselSlide>
                                <div class="testimonial_thumb ">
                                    <div class="testimonial_icon">
                                        <div class="thumb">
                                            <img src="assets/image/Testimonial 1.jpg" alt="">
                                        </div>
                                        <div class="thumb_info">
                                            <span class="thumb_name">Taylor Mcbride</span>
                                            <span class="thumb_tag">Cynical Saints</span>
                                        </div>
                                    </div>
                                    <div class="testimonial_info">
                                        <p>I hope that this feedback will be posted in a public forum and I would be
                                            happy to leave a review I came in very skeptical about the quality of
                                            writers on this site. This was my first project. I tried hard to release
                                            expectation. I LOVED the writing. I found it smooth, credible, impactful,
                                            insightful, just all around I was highly impressed. And it was returned to
                                            me in a very reasonable amount of time despite the fact that it was busy
                                            season. I would gladly like to work with the very same writer again on
                                            future projects. Seriously.</p>
                                        <div class="testimonial_star">
                                            
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="testimonial_thumb ">
                                    <div class="testimonial_icon">
                                        <div class="thumb">
                                            <img src="assets/image/Testimonial 2.jpg" alt="">
                                        </div>
                                        <div class="thumb_info">
                                            <span class="thumb_name">Sandra Gonzalez</span>
                                            <span class="thumb_tag">Weekly Ads Flyers</span>
                                        </div>
                                    </div>
                                    <div class="testimonial_info">
                                        <p>As an experienced Internet marketer, I was extremely pleased when I received
                                            my articles and reviewed them. I have used many content writing companies in
                                            the past few months and none of them have come close to the quality and
                                            price your company offers. The articles were grammatically correct and very
                                            original. It was almost as if I were writing them myself because I take a
                                            lot of care in providing quality content for my readers. With your service,
                                            I just found the quality writing I needed to leverage my business.</p>
                                        <div class="testimonial_star">

                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="testimonial_thumb ">
                                    <div class="testimonial_icon">
                                        <div class="thumb">
                                            <img src="assets/image/Testimonial 3.jpg" alt="">
                                        </div>
                                        <div class="thumb_info">
                                            <span class="thumb_name">Howard Platt</span>
                                            <span class="thumb_tag">Self-Improvement Coach</span>
                                        </div>
                                    </div>
                                    <div class="testimonial_info">
                                        <p>This was my first project with your service and all I can say is that I am
                                            more than pleased! I will be deleting my other content sources bookmarks as
                                            I will not be needing them now that I have found your service. Excellent
                                            Job!</p>
                                        <div class="testimonial_star">

                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="testimonial_thumb ">
                                    <div class="testimonial_icon">
                                        <div class="thumb">
                                            <img src="assets/image/Testimonial 4.jpg" alt="">
                                        </div>
                                        <div class="thumb_info">
                                            <span class="thumb_name">Stan Hjerleid</span>
                                            <span class="thumb_tag">Navy Vet</span>
                                        </div>
                                    </div>
                                    <div class="testimonial_info">
                                        <p>Love it. The author followed instructions to a tee. Good originality and did
                                            an excellent job. This is my first project with you and I am impressed. You
                                            were recommended by another member of my mastermind group.. Glad I followed
                                            his advice. You will be getting more business from me. Thanks and take care
                                            and thank the author for an excellent job.</p>
                                        <div class="testimonial_star">

                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</section>
<!--testimonial section ends-->


<!--Pricing section starts-->
<div class="pricing-section mb-4" id="pricing" data-aos="fade-up" data-aos-delay="100">
    <div class="container">
        <div class="row plan">
            <div class="col-md-12 ">
                <div class="service_heading-outer center-heading">
                    <h2 class="heading-title">Our Pricing</h2>
                    <h4 class="heading-content">We are not cheap, but we can deliver</h4>
                </div>
            </div>
        </div>

        <div class="row plans-outer" data-aos="fade-up" data-aos-delay="1000">
            <div class="col-xsm-3">
                <div class="plans rounded-right-none">
                    <div class="plan-head">
                        <h4>Spark</h4>
                    </div>
                    <div class="plan-price-value">
                        <h3>$30</h3>
                        <p>Per 1,000 <span class="d-block">words</span></p>
                    </div>
                    <div class="plan-price-content">
                        <ul class="list-unstyled">
                            <li>Fresh eBook Writers</li>
                            <li>Basic Research</li>
                            <li>One-Time Revision</li>
                            <li>Good for budget-conscious solopreneurs and home businesses</li>

                        </ul>
                    </div>
                    <div class="pricing_star">
                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                        
                    </div>
                    <a target="_blank" href="https://bookwy.com/plans/Engage_Plan_Sample.pdf" class="btn-signup">Check Samples</a>
                </div>
            </div>

            <div class="col-xsm-4">
                <div class="plans-elite" data-aos="fade-up" data-aos-delay="300">
                    <div class="elite-head">
                        <h4>Engage</h4>
                    </div>
                    <div class="elite-price-value">
                        <h3>$200</h3>
                        <p>Per 1,000 <span class="d-block">Words</span></p>
                    </div>
                    <div class="elite-content">
                        <div class="plan-price-content-elite">
                            <ul class="list-unstyled">
                                <li>English Native Writers</li>
                                <li>Experienced eBook Writers</li>
                                <li>In-Depth Research</li>
                                <li>One-Time Revision</li>
                                <li>Good for frugal startups and small businesses</li>
                            </ul>
                        </div>
                        <div class="pricing_star">
                            <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                            <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                            <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                            <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                            <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                        </div>
                    </div>
                    <a target="_blank" href="https://bookwy.com/plans/Engage_Plan_Sample.pdf" class="btn-signup">Check Samples</a>
                </div>
            </div>

            <div class="col-xsm-3">
                <div class="plans rounded-left-none">
                    <div class="plan-head prime">
                        <h4>Authority</h4>
                    </div>
                    <div class="plan-price-value">
                        <h3>$500</h3>
                        <p>Per 1,000 <span class="d-block">Words</span></p>
                    </div>
                    <div class="plan-price-content">
                        <ul class="list-unstyled">
                            <li>World-Class English Native Writers</li>
                            <li>Subject Matter Experts</li>
                            <li>In-Depth Research</li>
                            <li>Unlimited Revision</li>
                            <li>Good for meticulous entrepreneurs and medium enterprises</li>
                        </ul>
                    </div>
                    <div class="pricing_star">
                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                    </div>
                    <a target="_blank" href="https://bookwy.com/plans/Authority_Plan_Sample.pdf" class="btn-signup">Check Samples</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Pricing section ends-->

<!--our stats starts-->
<section class="section-stats" data-aos="fade-up" data-aos-delay="100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="service_heading-outer center-heading">
                    <h2 class="heading-title">Our Stats</h2>
                    <h4 class="heading-content">Check out these numbers</h4>
                </div>
            </div>
            <div class="col-lg-11 mx-auto pt-4">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="projects-box compelted">
                            <div class="projects-content">
                                <img src="assets/image/writehero-statsicon1.png">
                                <h6>eBooks Completed</h6>
                                <p class="counter">61483</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="clints-projects">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="project-box cp">
                                        <div class="client-served">
                                            <img src="assets/image/writehero-statsicon2.png">
                                            <h6>Clients served</h6>
                                            <p class="counter">8635</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="projects-box contentsize">
                                        <img src="assets/image/writehero-statsicon3.png">
                                        <p class="counter">11</p>
                                        <h6>Years experience</h6>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="cp coffee">
                                        <img src="assets/image/writehero-statsicon4.png">
                                        <p class="counter">1000</p>
                                        <h6>coffee drinks</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--our stats ends-->

<!--Our clients starts-->
<section class="section-clients" data-aos="fade-up" data-aos-delay="100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center-heading">
                    <h2 class="heading-title">Our clients</h2>
                    <h4 class="heading-content">From across the globe</h4>
                </div>
            </div>
        </div>
        <div class="clients-outer">
            <div class="row">
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/clients (1).png">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/clients (2).png">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/clients (3).png">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/clients (4).png">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/clients (5).png">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/clients (6).png">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/clients (7).png">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/clients (8).png">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/clients (9).png">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/clients (10).png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Our clients ends-->

<!--project mind starts-->
<section class="project-mind">
    <div class="sectionroll" data-aos="fade-up" data-aos-delay="200">
        <h3>Have an eBook in mind?</h3>
        <p>Let’s Huddle! </p>
        <a routerLink="/user/signup" class="btn-done px-5">Hire an eBook Writer</a>
    </div>
</section>
<!--project mind ends-->