<!--Our Services starts-->
<section class="services-section grid-gap" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="service_heading-outer center-heading  aos-init aos-animate" data-aos="fade-up"
                    data-aos-delay="100">
                    <h2 class="heading-title">our services</h2>
                    <h4 class="heading-content">What we offer, <br>
                        without the hype</h4>
                </div>
            </div>
            <div class="sercice_content-cards">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="service_content-cards odd wow-title" data-aos="fade-up" data-aos-delay="100">
                            <div class="cards-header">
                                <div class="card-img">
                                    <img src="assets/image/writehero-services-icon1.png">
                                </div>
                            </div>
                            <div class="cards-content">
                                <h6 data-aos="fade-up" data-aos-delay="100">Looking to sell eBooks?</h6>
                                <p data-aos="fade-up" data-aos-delay="100">Our account managers will assign your
                                    projects to experienced eBook writers
                                    in order to create laser-focused niche
                                    products that educates, inspire or entertain.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service_content-cards even wow-title" data-aos="fade-up" data-aos-delay="100">
                            <div class="cards-header">
                                <div class="card-img">
                                    <img src="assets/image/writehero-services-icon2.png">
                                </div>
                            </div>
                            <div class="cards-content">
                                <h6 data-aos="fade-up" data-aos-delay="100">eBooks that nurture leads</h6>
                                <p data-aos="fade-up" data-aos-delay="100">You want a digital product with real value
                                    that coach your target leads? Then turn them
                                    to raving customers? Then you'll
                                    be needing transparent and honest writers
                                    in your team.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service_content-cards odd" data-aos="fade-up" data-aos-delay="300">
                            <div class="cards-header">
                                <div class="card-img">
                                    <img src="assets/image/writehero-services-icon3.png">
                                </div>
                            </div>
                            <div class="cards-content">
                                <h6 data-aos="fade-up" data-aos-delay="300">Self-publish your eBooks</h6>
                                <p data-aos="fade-up" data-aos-delay="300">You can also have us develop and format your
                                    final products - ready for publishing in Amazon Kindle,
                                    NOOK Press, Goodreads, Lulu, iBooks, Bookbaby,
                                    Scribd, E-junkie, Blurb and more!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service_content-cards even" data-aos="fade-up" data-aos-delay="100">
                            <div class="cards-header">
                                <div class="card-img">
                                    <img src="assets/image/writehero-services-icon1.png">
                                </div>
                            </div>
                            <div class="cards-content">
                                <h6 data-aos="fade-up" data-aos-delay="100">Low-Cost Niche Content</h6>
                                <p data-aos="fade-up" data-aos-delay="100">Our content is good enough for budget
                                    startups,
                                    Solopreneurs and other small businesses looking
                                    to scale their brand. We are not perfect
                                    but we will try our best to move mountains!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service_content-cards odd" data-aos="fade-up" data-aos-delay="200">
                            <div class="cards-header">
                                <div class="card-img">
                                    <img src="assets/image/writehero-services-icon2.png">
                                </div>
                            </div>
                            <div class="cards-content">
                                <h6 data-aos="fade-up" data-aos-delay="200">100% Real Human Writers</h6>
                                <p data-aos="fade-up" data-aos-delay="200">Unlike other services that depends on
                                    bots and other softwares – we have real
                                    writers on hand. We can also find a specific
                                    writer for your industry.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service_content-cards even" data-aos="fade-up" data-aos-delay="300">
                            <div class="cards-header">
                                <div class="card-img">
                                    <img src="assets/image/writehero-services-icon3.png">
                                </div>
                            </div>
                            <div class="cards-content">
                                <h6 data-aos="fade-up" data-aos-delay="300">200% Workback Guarantee</h6>
                                <p data-aos="fade-up" data-aos-delay="300">We understand that you may have some
                                    trust issues. If you’re not satisfied with the
                                    finished product, we’ll redo the whole project
                                    or reassign to a new writer – free of charge.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Our Services ends-->


<!--testimonial section starts-->
<section class="testimonial-section grid-gap position-relative" id="testimonial">
    <img src="assets/image/air_baloon.png" alt="" class="air_baloon">
    <div class="testimonial-banner">
        <div class="testimonial-title" data-aos="fade-right" data-aos-delay="500">

            <h2>Meet <span>Bookwy</span> We know how hard it is to look for a reliable freelance eBook writer.
                We will collaborate with you in curating authentic content that informs and inspires.</h2>
            <!-- <p>We will collaborate with you in curating content that informs and inspires.</p> -->
        </div>
    </div>

    <div class="testimonial-content grid-gap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="service_heading-outer center-heading">
                        <h2 class="heading-title">OUR TESTIMONIALS</h2>
                        <h4 class="heading-content">Meet some of our believers</h4>
                    </div>
                </div>
                <div class="col-md-12">
                    <owl-carousel-o [options]="customOptions">
                        <ng-container *ngFor="let slide of slidesStore">
                        </ng-container>
                    </owl-carousel-o>
                    <!-- <div class="owl-carousel abc1 owl-theme">
                        <div *ngFor="let feedback of feedbacks; let i = index;" class="item">
                            <div class="testimonial_thumb ">
                                <div class="testimonial_icon">
                                    <div class="thumb"><img [src]="(feedback?.profile_pic) ? (feedback?.profile_pic)  : defaultPath" alt=""></div>
                                    <div class="thumb_info">
                                        <span class="thumb_name">Alen Shuvro</span>
                                        <span class="thumb_tag">JMC Int.</span>
                                    </div>
                                </div>
                                <div class="testimonial_info">
                                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                                        ipsum, nec sagittis sem </p>
                                    <div class="testimonial_star">
                                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--testimonial section ends-->


<!--Pricing section starts-->
<div class="pricing-section" data-aos="fade-up" data-aos-delay="100">
    <div class="container">
        <div class="row plan">
            <div class="col-md-12 ">
                <div class="service_heading-outer center-heading">
                    <h2 class="heading-title">Pricing</h2>
                    <h4 class="heading-content">How much do we cost?</h4>
                </div>
            </div>
        </div>

        <div class="row plans-outer" data-aos="fade-up" data-aos-delay="1000">
            <div class="col-xsm-3">
                <div class="plans rounded-right-none" data-aos="fade-right" data-aos-delay="700">
                    <div class="plan-head">
                        <h4>Basic</h4>
                    </div>
                    <div class="plan-price-value">
                        <h3>$10</h3>
                        <p>Per 1,000 <span class="d-block">words</span></p>
                    </div>
                    <div class="plan-price-content">
                        <ul class="list-unstyled">
                            <li>Fresh Writers</li>
                            <li>Basic Google Research</li>
                            <li>One-Time Revision</li>
                            <li>Good for budget-conscious solopreneurs and home businesses</li>

                        </ul>
                    </div>
                    <div class="pricing_star">
                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                    </div>
                    <a href="#" class="btn-signup">Check Samples</a>
                </div>
            </div>

            <div class="col-xsm-4">
                <div class="plans-elite" data-aos="fade-down" data-aos-delay="700">
                    <div class="elite-head">
                        <h4>Elite</h4>
                    </div>
                    <div class="elite-price-value">
                        <h3>$15</h3>
                        <p>Per 1,000 <span class="d-block">Words</span></p>
                    </div>
                    <div class="elite-content">
                        <div class="plan-price-content-elite">
                            <ul class="list-unstyled">
                                <li> Experienced Writers</li>
                                <li>Deep Web Research</li>
                                <li>Unlimited Revision</li>
                                <li>Editor Review</li>
                                <li>Good for frugal startups and small businesses</li>
                            </ul>
                        </div>
                        <div class="pricing_star">
                            <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                            <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                            <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                            <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                            <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                        </div>
                    </div>
                    <a href="#" class="btn-signup">Check Samples</a>
                </div>
            </div>

            <div class="col-xsm-3">
                <div class="plans rounded-left-none" data-aos="fade-left" data-aos-delay="700">
                    <div class="plan-head prime">
                        <h4>First Class</h4>
                    </div>
                    <div class="plan-price-value">
                        <h3>$100</h3>
                        <p>Per 1,000 <span class="d-block">Words</span></p>
                    </div>
                    <div class="plan-price-content">
                        <ul class="list-unstyled">
                            <li>Drool-worthy English Native Writers</li>
                            <li>Deep Web Research</li>
                            <li>Unlimited Revision</li>
                            <li>Editor Review</li>
                            <li>Good for meticulous entrepreneurs and medium enterprises</li>
                        </ul>
                    </div>
                    <div class="pricing_star">
                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                        <a href="#"><img src="assets/image/star_enable.png" alt=""></a>
                    </div>
                    <a href="#" class="btn-signup">Check Samples</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Pricing section ends-->

<!--our stats starts-->
<section class="section-stats" data-aos="fade-up" data-aos-delay="100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="service_heading-outer center-heading">
                    <h2 class="heading-title">Our Stats</h2>
                    <h4 class="heading-content">Check out these numbers</h4>
                </div>
            </div>
            <div class="col-lg-11 mx-auto pt-4">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="projects-box compelted">
                            <div class="projects-content">
                                <img src="assets/image/writehero-statsicon1.png">
                                <h6>projects completed</h6>
                                <p class="counter">61483</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="clints-projects">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="project-box cp">
                                        <div class="client-served">
                                            <img src="assets/image/writehero-statsicon2.png">
                                            <h6>Clients served</h6>
                                            <p class="counter">8635</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="projects-box contentsize">
                                        <img src="assets/image/writehero-statsicon3.png">
                                        <p class="counter">11</p>
                                        <h6>Years experience</h6>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="cp coffee">
                                        <img src="assets/image/writehero-statsicon4.png">
                                        <p class="counter">1000</p>
                                        <h6>coffee drinks</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--our stats ends-->

<!--Our clients starts-->
<section class="section-clients" data-aos="fade-up" data-aos-delay="100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center-heading">
                    <h2 class="heading-title">Our clients</h2>
                    <h4 class="heading-content">From across the globe</h4>
                </div>
            </div>
        </div>
        <div class="clients-outer">
            <div class="row">
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/ecp_grey.svg">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/soaq_grey.svg">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/IMG_grey.svg">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/Front_Rush.svg">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/2xu_grey.svg">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/coach-new.png">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/Lafarge_grey.svg">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/Paypal_grey.svg">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/mothercare_grey.svg">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/microsoft_grey.svg">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/haymarket_grey.svg">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/wheels_grey.svg">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/harvard-business-review.svg">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/sampleboard-new.png">
                    </div>
                </div>
                <div class="col-xsm-2">
                    <div class="client-logo">
                        <img src="assets/image/wooclub.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Our clients ends-->

<!--project mind starts-->
<section class="project-mind">
    <div class="sectionroll" data-aos="fade-up" data-aos-delay="200">
        <h3>Have a project in mind?</h3>
        <p>Talk to us! </p>
        <a routerLink="/user/signup" class="btn-done px-5">CONTACT US</a>
    </div>
</section>
<!--project mind ends-->